{% extends "manager/dashboard.html" %}
{% block title %}
    Add Branch
{% endblock title %}

{% block inner %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'landing:landing'%}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:dashboard'%}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Branch</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
        width: 100%;
    }
   


</style>
<div class="text-center ps-4 pe-4">
    {% if messages %}
        {% for m in messages  %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>


<form action="" method="post" style="width: 100%; padding: 30px;" enctype="multipart/form-data">
    
    <div class="row  formbox" >
        <H3>Add Branch</H3>
        <hr>
        <div class="col-6">
            {{form.district.label_tag}}
            {{form.district}}
            {{form.district.errors}}
        </div>
        <div class="col-6">
            {{form.street.label_tag}}
            {{form.street}}
            {{form.street.errors}}
        </div>
        <div class="col-6">
            {{form.contact.label_tag}}
            {{form.contact}}
            {{form.contact.errors}}
        </div>
        <div class="col-6">
            {{form.fax.label_tag}}
            {{form.fax}}
            {{form.fax.errors}}
        </div>
        <div class="col-6">
            {{form.email.label_tag}}
            {{form.email}}
            {{form.email.errors}}
        </div>
        <div class="col-6">
            {{form.focal.label_tag}}
            {{form.focal}}
            {{form.focal.errors}}
        </div>
        <div class="col-6">
            {{form.provience.label_tag}}
            {{form.provience}}
            {{form.provience.errors}}
        </div>
        <div class="col-6">
            {{form.number.label_tag}}
            {{form.number}}
            {{form.number.errors}}
        </div>
        <div class="col-12">
            {{form.focal_img.label_tag}}
            {{form.focal_img}}
            {{form.focal_img.errors}}
        </div>
        
        {% csrf_token %}
        <br>
        <div class="p-2 d-grid">
            <button class="btn btn-danger btn-block text-light mb-3" id="submit"> <i class="fa fa-key"></i> ADD BRANCH </button>
        </div>
       
    </div>
  
</form>

<br>
<div class="row ps-2 pe-2">
    <H3>Branch List</H3>
    <hr>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table stylish-table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">District</th>
                                <th class="border-top-0">Street</th>
                                <th class="border-top-0">Focal Image</th>
                                <th class="border-top-0">......</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in branch %}
                                <tr>
                               
                                    <td class="align-middle">
                                        <h6> {{i.district}} </h6>
                                        <small class="d-block">Email: {{i.email}} </small>
                                        <small>Contact: {{i.contact}} </small>
                                        <small>Fax: {{i.fax}} </small>
                                    </td>
                                    <td class="align-middle">{{i.street}}</td>
                                    
                                    {% if i.focal_img %}
                                        <td class="align-middle">
                                            <img src="{{i.focal_img.url}}" alt="" srcset="" style="height: 50px; width: 50px; border-radius: 50%;">
                                        </td>
                                    {% endif %}
                                        
                                   
                                    <td class="align-middle">
                                        <a href="{%url 'manager:editBranch' i.id%}">
                                            <button class="text-light btn btn-sm btn-primary">
                                                <i class="fa fa-edit p-2"></i>
                                                    Edit
                                            </button>
                                        </a> 
                                        <button class=" text-light btn btn-sm  btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                                            <i class="fa fa-trash p-2"></i>
                                            Delete
                                        </button>
                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Delete {{i.district}}?</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                               
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                  <a href="{%url 'manager:deleteBranch' i.id%}">
                                                    <button type="button" class="btn btn-primary">Yes</button>
                                                  </a>
                                                
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        <!-- Delete Modal End -->
   
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock inner %}