{% extends "manager/dashboard.html" %}
{% block title %}
    fa-edit Branch
{% endblock title %}

{% block inner %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'landing:landing'%}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:dashboard'%}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:addBranch'%}">Branches</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Branch</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
        width: 100%;
    }
   


</style>
<div class="text-center ps-4 pe-4">
    {% if messages %}
        {% for m in messages  %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="row">
    <div class="col-12 col-md-8">
        <form action="" method="post" style="width: 100%; padding: 30px;" enctype="multipart/form-data">
    
            <div class="row  formbox" >
                <H3>Edit Branch</H3>
                <hr>
                <div class="col-12">
                    {{form.BranchName.label_tag}}
                    {{form.BranchName}}
                    {{form.BranchName.errors}}
                </div>
                <div class="col-6">
                    {{form.district.label_tag}}
                    {{form.district}}
                    {{form.district.errors}}
                </div>
                <div class="col-6">
                    {{form.street.label_tag}}
                    {{form.street}}
                    {{form.street.errors}}
                </div>
                <div class="col-6">
                    {{form.contact.label_tag}}
                    {{form.contact}}
                    {{form.contact.errors}}
                </div>
                <div class="col-6">
                    {{form.fax.label_tag}}
                    {{form.fax}}
                    {{form.fax.errors}}
                </div>
                <div class="col-6">
                    {{form.email.label_tag}}
                    {{form.email}}
                    {{form.email.errors}}
                </div>
                <div class="col-6">
                    {{form.focal.label_tag}}
                    {{form.focal}}
                    {{form.focal.errors}}
                </div>
                <div class="col-6">
                    {{form.provience.label_tag}}
                    {{form.provience}}
                    {{form.provience.errors}}
                </div>
                <div class="col-6">
                    {{form.number.label_tag}}
                    {{form.number}}
                    {{form.number.errors}}
                </div>
                <div class="col-12">
                    {{form.focal_img.label_tag}}
                    {{form.focal_img}}
                    {{form.focal_img.errors}}
                </div>
                
                {% csrf_token %}
                <br>
                <div class="p-2 d-grid">
                    <button class="btn btn-danger btn-block text-light mb-3" id="submit"> <i class="fa fa-key"></i> UPDATE BRANCH </button>
                </div>
               
            </div>
          
        </form>
    </div>
    <div class="col-12 col-md-4" style="padding: 30px;">
        <div class="card p-2">
            <h5>Focal Image</h5>
            <img src="{{bod.focal_img.url}}" alt="" srcset="" style="height: 300px; width: 100%;">
        </div>
    </div>
</div>




{% endblock inner %}