{% extends "manager/dashboard.html" %}
{% block title %}
  Edit Products {{bod.name}}
{% endblock title %}

{% block inner %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'landing:landing'%}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:dashboard'%}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:product'%}">Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Product - {{bod.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
        width: 100%;
    }
</style>
<div class="text-center ps-4 pe-4">
    {% if messages %}
        {% for m in messages  %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>


<form action="" method="post" style="width: 100%; padding: 30px;" enctype="multipart/form-data">
    
    <div class="row  formbox" >
        <div style="
                    display: flex;
                    align-items: center;">
            <h3>Edit Product- {{bod.name}}</h3>
            {%if bod.image%}
            <img src="{{bod.image.url}}" alt="{{bod.name}}" srcset="" style="height: 100px; width: auto;">
            {%endif%}
        </div>
        <hr>
        <div class="col-12">
            {{form.ordering.label_tag}}
            {{form.ordering}}
            {{form.ordering.errors}}
        </div>
        <div class="col-6">
            {{form.name.label_tag}}
            {{form.name}}
            {{form.name.errors}}
        </div>
        <div class="col-6">
            {{form.image.label_tag}}
            {{form.image}}
            {{form.image.errors}}
        </div>
      
        <div class="col-12">
            {{form.description.label_tag}}
            {{form.media}}
            {{form.description}}
            {{form.description.errors}}
        </div>
        <div class="col-12">
            {{form.icons.label_tag}}
            {{form.icons}}
            {{form.icons.errors}}
        </div>
        <div class="col-12">
            {{form.discontinue.label_tag}}
            {{form.discontinue}}
            {{form.discontinue.errors}}
        </div>

        {% csrf_token %}
        <br>
        <div class="p-2 d-grid">
            <button class="btn btn-danger btn-block text-light mb-3" id="submit"> <i class="fa fa-key"></i> Update Product</button>
        </div>
       
    </div>
  
</form>

<br>


{% endblock inner %}