{% extends 'manager/dashboard.html' %}
{% load static %}
{% block title %}
    {{name}}  Report
{% endblock title %}


{% block inner %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'landing:landing'%}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{%url 'manager:dashboard'%}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View News</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
    <div class="row p-4">
        <div class="text-center ps-4 pe-4">
            {% if messages %}
                {% for m in messages  %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{m}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-12 p-2">
          <form method ="post">

            <div class="input-group mb-3">
              <input type="text" name="search" class="form-control form-control-line" placeholder="Search news by name...." aria-label="Search news by name...." aria-describedby="basic-addon2">
              {% csrf_token %}
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
        <h4>{{name}} </h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table stylish-table no-wrap" id="tableSort">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" colspan="2" onclick="sortTable(1)">Name <i class="fa fa-sort p-1"></i></th>
                                        <th class="border-top-0"> Date 
          
                                        </th>
                                        <th class="border-top-0">File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in report %}
                                        <tr>
                                            <td style="width:50px;"><span class="round">F</span></td>
                                            <td class="align-middle">
                                                <h6>{{i.name|truncatewords:8}}</h6>
                                            </td>
                                            <td class="align-middle">{{i.dateof}}</td>
                                            <td class="align-middle">
                                               
                                               {% if i.files %}
                                               <a href="{{i.pdf}}">
                                                <button class="btn btn-sm btn-danger text-light">
                                                    <i class="fa fa-eye p-2"></i>
                                                    View
                                                </button>
                                                    
                                                </a>    
                                                <a href="{{i.download}}">
                                                    <button class="btn btn-sm btn-light btn-danger btn-danger">
                                                        <i class="fa fa-download p-2"></i>
                                                        Download
                                                    </button>
                                                    
                                                </a>    
                                               {% endif %}
                                              
                                               {% if i.image %}
                                               <button class=" text-light btn btn-sm  btn-danger btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalTest{{i.id}}">
                                                <i class="fa fa-trash p-2"></i>
                                                View Image
                                                </button>
                                                <!-- View Image Modal -->
                                                <div class="modal fade" id="exampleModalTest{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Image</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        
 
                                                        <img src="{{i.image.url}}" alt="" srcset="" style="width: 100%;">
                                                    
                                                       
                                                    </div>
                                                   
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    
                                                    </div>
                                                  </div>
                                                </div>
                                               </div>
                                                <!-- View Image Modal End --> 
                                               {% endif %}
                                               <button class=" text-light btn btn-sm  btn-danger btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                                                <i class="fa fa-trash p-2"></i>
                                                Delete
                                                </button>
                                                <a href="{%url 'manager:editNews' i.id%}">
                                                    <button class="text-light btn btn-warning">
                                                        Edit
                                                    </button>
                                                </a>
                                               
                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Delete {{i.district}}?</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                   
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                      <a href="{%url 'manager:deleteNews' i.id%}">
                                                        <button type="button" class="btn btn-primary">Yes</button>
                                                      </a>
                                                    
                                                    </div>
                                                  </div>
                                                </div>
                                               </div>
                                                <!-- Delete Modal End --> 
                                              
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
            
    </div>

        <script>
            function sortTable(n) {
              var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
              table = document.getElementById("tableSort");
              switching = true;
              // Set the sorting direction to ascending:
              dir = "asc";
              /* Make a loop that will continue until
              no switching has been done: */
              while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                  // Start by saying there should be no switching:
                  shouldSwitch = false;
                  /* Get the two elements you want to compare,
                  one from current row and one from the next: */
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  /* Check if the two rows should switch place,
                  based on the direction, asc or desc: */
                  if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  }
                }
                if (shouldSwitch) {
                  /* If a switch has been marked, make the switch
                  and mark that a switch has been done: */
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                  // Each time a switch is done, increase this count by 1:
                  switchcount ++;
                } else {
                  /* If no switching has been done AND the direction is "asc",
                  set the direction to "desc" and run the while loop again. */
                  if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                  }
                }
              }
            }
          
        </script>


{% endblock inner %}

