{% extends 'manager/dashboard.html' %}

{% block title %}
    {{name}} Form Report
{% endblock title %}


{% block inner %}
    <div class="row p-4">
        <h4>{{name}} Report</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table stylish-table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" colspan="2">Name</th>
                                        <th class="border-top-0">Type</th>
                                        <th class="border-top-0">File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in report %}
                                        <tr>
                                            <td style="width:50px;"><span class="round">F</span></td>
                                            <td class="align-middle">
                                                <h6>{{i.name}}</h6>
                                            </td>
                                            <td class="align-middle">{{i.dtype}}</td>
                                            <td class="align-middle">
                                               
                                                <a href="{{i.pdf}}">
                                                    <button class="btn btn-sm btn-danger text-light">
                                                        <i class="fa fa-eye p-2"></i>
                                                        View
                                                    </button>
                                                    
                                                </a>    
                                                <a href="{{i.download}}">
                                                    <button class="btn btn-sm btn-light btn-danger btn-danger">
                                                        <i class="fa fa-download p-2"></i>
                                                        Download
                                                    </button>
                                                    
                                                </a>      
                                               
                                              
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
            
    </div>

{% endblock inner %}

