{% extends "landing/productCal.html" %}
{% load static %}
{% block cal %}

<div id="calc" class="calc">
    <div class="row bgda p-2">
        <div class="col-md-12 col-12 col-lg-12">
            <div class="choose-between">
                <div class="text-center">
                    <h6 class="text-dark" id="calChange">Personal Accident Calculation </h6>
                </div>
            </div>

            
            <div class="AllCalculatorC">

                <form action="" id='bikeTPform'>
                  

                    <label for="seatTP">Sum Insured</label>
                    <input type="number" name="seatTP" class="form-control" id="sumInsured">

                   

                    <label for="helperTP">Profession</label>
                    <select name="helperTP" id="prof" class="form-control">
                        <option value="Yes">Office Worker</option>
                        <option value="No">Teacher</option>
                        <option value="Yes">Doctor Engineer</option>
                        <option value="No">Factory</option>
                        <option value="Yes">Field worker</option>
                        <option value="No">Others</option>
                    </select>
            
                    <div class="btn btn-danger btn-block mt-3" onclick="calculateHome()">
                        Calculate
                    </div>
                </form>
                <!-- Third Party End -->
            </div>
          
        </div>
  
        <!-- Report -->
        <div class="col-md-12 col-12 col-lg-12 showcostp m-auto pt-4" id="reportC">
            <table class="table table-striped" >
                <thead>
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Basic Premium</td>
                    <td id="basicp">0</td>
                  
                  </tr>
                  <tr>
                    <td>Add: RSD/Terrorism Premium</td>
                    <td id="rsd_c">0</td>
                  </tr>

                  
                  <tr>
                    <td><b>Net Premium</b></td>
                    <td id="net_premium">0</td>
        
                  </tr>
                  <tr>
                    <td>Add: Vat</td>
                    <td id="vat_c">0</td>
        
                  </tr>
                  <tr>
                    <td>Add: Stamp</td>
                    <td id="stamp_c">0</td>
        
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td>
                        <h6 id="total_c" style="font-size:30px; color: black;">Rs.0</h6>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- Report End -->
    </div>
</div>  
<script src="{%static 'js/calculator/personal.js'%}"></script>

{% endblock cal %}
    



