{% extends "pillar.html" %}
{% block title %}
  Agents
{% endblock title %}

{% block content %}
<hr style="height: 7px; background-color:#fb0b3f;">
<div class="container-fluid">
    <br>
    <h4 class="text-center">Our  <span class="text-danger">Agents</span></h4>
 
  
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-responsive-sm" id="tableSort">
          <thead>
            <tr>
              <th scope="col" onclick="sortTable(0)">SN <i class="fa fa-sort p-1"></i></th>
              <th scope="col" onclick="sortTable(1)"> Name <i class="fa fa-sort p-1"></i></th>
              <th scope="col">Address</th>
              <th scope="col">License No</th>
              <th scope="col" colspan="2">Issue Date</th>
              <th scope="col">Agent Code</th>
              <th scope="col">Contact No</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
              
              {% for sa in s  %}
              <tr>
                  <td>{{sa.ordering}}</td>
                  <td>{{sa.name}}</td>
                  <td>
                    {%if sa.address%}
                      {{sa.address}}
                    {%endif%}
                    
                  </td>
                  <td>
                    {%if sa.lience_no%}
                      {{sa.lience_no}}
                    {%endif%}
                  
                  </td>
                  <td colspan="2">
                    {%if sa.issue_date%}
                      {{sa.issue_date}}
                    {%endif%}
                   
                  </td>
                  <td>
                    {%if sa.agent_code%}
                      {{sa.agent_code}}
                    {%endif%}
                    
                  </td>
                  <td>
                    {%if sa.contact%}
                      {{sa.contact}}
                    {%endif%}
                   
                  </td>
                  <td>
                    {%if sa.email%}
                      {{sa.email}}
                    {%endif%}
                    
                  </td>
              </tr>
              {% endfor %}
                  
           
          </tbody>
  
        </table>
      </div>
      <div class="col-12">
          <div class="text-center">
            {% if s.has_other_pages %}
            <ul class="pagi">
            {% if s.has_previous %}
              <li><a href="?page={{ s.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in s.paginator.page_range %}
              {% if s.number == i %}
                <li class="activePag"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if s.has_next %}
              <li style="border-right:1px solid #fb0b3f;"><a href="?page={{ s.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled" style="border-right:1px solid #fb0b3f;"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
          </div>
      </div>
    </div>
</div>
<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("tableSort");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (n == 0){
            if (Number(x.innerHTML) > Number(y.innerHTML)) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }else{
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
          }
          
        } else if (dir == "desc") {
          if (n == 0){
              if (Number(x.innerHTML) < Number(y.innerHTML)) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
          }else{
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  
</script>
{% endblock content %}