{% extends "pillar.html" %}
{% load static %}
{% block title %}
  NLG Branches
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row backandrollall">
        <div class="col-md-12 col-12 p-0 m-0 head-right">
            <div class="firsthead p-3 ml-4">
            
                <div class="insurance-product p-3">
                    <h4>Head Office</h4>
                    <div class="product-hr"></div>
                  
                    <p class="text-dark pt-2">
                        <i class="fa fa-location-arrow"></i> Lazimpat, Kathmandu Nepal
                    </p>
                    <p class="text-dark">
                        <a href="tel:01-4442646">
                            <i class="fa fa-phone"></i>
                            Contact No. : 01-4442646, 01-4006648
                        </a>
                         
                    </p>
                    <p class="text-dark">
                        <a href="mailto:info@nlgi.com.np">
                            <i class="fa fa-envelope-square"></i> Email : info@nlgi.com.np
                        </a>
                        
                    </p>
                    <p class="text-dark">
                        <i class="fa fa-fax"></i> Fax: 977-1-4416427
                    </p>
                  
                </div>
            </div>
           
        </div>
    
    </div>

    
    <div class="row p-2" >
        <div class="col-12 col-md-5">
            <a href="/branches">
                <h4 class="pt-2 d-inline">Our<span class="text-danger"> Branches</span> </h4> 
                <div class="product-hr"></div>
            </a>
           
        </div>
        <div class="col-12 col-md-7 mt-3" style="position: sticky;">
            <form action="" method="post">
                <div class="input-group mb-3 mr-4" style="padding-right: 8;">
                    <input style="border-radius: 20%;" type="text" name="branch" class="form-control" placeholder="Search Branches" aria-label="Search Branches" aria-describedby="basic-addon2">
                    {% csrf_token %}
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="submit">Search</button>
                    </div>
                </div>
            </form>
            
         
        </div>
       
        {% if Nfound %}
            <div class="col-12 text-center" >
                <h4 class="text-center">No Result Found....</h4>
            </div>
            
        {% endif %}

        {% for b in branch  %}
    
            
        <div class="col-md-4  col-lg-4 col-12 m-auto">
            <div class="branchbox text-center mt-3 p-3">
                <div class="headbranch text-left">
                    <h6 class="text-dark">{{b.BranchName}}</h6>
                   
                    <p class="p-0 m-0">
                       {{b.street}}
                       
                    </p>
                    <p class="p-0 m-0">
                        <a href="tel:{{b.contact}}">
                            <i class="fa fa-phone"></i> {{b.contact}}
                        </a>
                    </p>
                    <p class="p-0 m-0">
                        <a href="mailto:{{b.email}}">
                            <i class="fa fa-envelope-o"></i> {{b.email}}
                        </a>
                    </p>
                    <p class="p-0 m-0">
                        <i class="fa fa-user"></i> {{b.focal}}<br>
                    </p>
                    <p class="p-0 m-0">
                        <a href="tel:{{b.number}}">
                            <i class="fa fa-mobile"></i> &nbsp;{{b.number}}<br>
                        </a>
                    </p>
                </div>
            
                <div class="below">
                    <div class="p-2">
                        <img src="{{b.focal_img.url}}" alt="" srcset="" style="height: 120px; width: 100%;border-radius: 50%;">
                    </div>
                   
                    <!-- <a href="tel:{{b.contact}}">
                        <i class="fa fa-phone"></i> 
                    </a>
                    <a href="mailto:{{b.email}}">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                    <i class="fa fa-fax"></i>   -->
                </div>
                
            </div>
        </div>

        {% endfor %}

            

    </div>
    <div class="row">
        <div class="col-12 text-center">
          {% if branch.has_other_pages %}
          <ul class="pagi">
          {% if branch.has_previous %}
            <li><a href="?page={{ branch.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in branch.paginator.page_range %}
            {% if branch.number == i %}
              <li class="activePag"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if branch.has_next %}
            <li style="border-right:1px solid #fb0b3f;"><a href="?page={{ branch.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled" style="border-right:1px solid #fb0b3f;"><span>&raquo;</span></li>
          {% endif %}
          </ul>
          {% endif %}
        </div>
    </div>

    

</div>
<script>
$('.popover-dismiss').popover({
    trigger: 'focus'
  })

</script>
{% endblock content %}