{% extends "pillar.html" %}
{% load static %}
{% block title %}
  Carrer | NLG
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>

<div class="container-fluid">
  <div class="row backandrollProduct">
    <div class="col-md-12 col-12 head-right">
      <h4 class="gallaryf pl-3">Carrer</h4>
      <p  class="pl-3 text-light">NLG Carrer</p>
     
    </div>
  
  </div>
</div> 

{% endblock content %}