{% extends "pillar.html" %}
{% block title %}
  Citizen Charter
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h4 class="text-center">Citizen  <span class="text-danger">Charter</span></h4>

    <table class="table table-striped">
        <!-- <tbody>
            
            {% for sa in s  %}
            <tr>
                <th scope="row">{{sa.name}}</th>
                <td>{{sa.details}}</td>
               
            </tr>
            {% endfor %}
                
         
        </tbody> -->
    
        <tbody>
          <tr>
            <td style="width:155px;"><strong>Company’s Services</strong></td>
            <td style="width:462px;">All Non-Life Insurance Services</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Applicable Laws &amp; Acts</strong></td>
            <td style="width:462px;"><strong>Company Act 2063; Insurance Act 2049; Insurance Rules and Regulations 2049; and other related Laws and Acts, including rules regulations and circulars issued by Insurance Board of Nepal</strong></td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Documents to be submitted for issuance of insurance policy</strong></td>
            <td style="width:462px;"><strong><u>For all Insurance Policies</u> : </strong><em>Duly Filled Proposal Form &amp; KYC incorporating copy of Citizenship, PAN/Registration Certificate as the case may be</em><br>
            <strong>Additional documents to be submitted in case of:</strong><br>
            <strong><u>Motor Insurance</u>: </strong><em>Copy of Blue Book ( Vehicle Registration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Booklet) and Renewal notice, if any, from previous insurance company;</em><br>
            <strong><u>Marine Insurance:</u></strong><em>Letter of Credit (L/C), Invoices &amp;Proforma Invoice;</em><br>
            <strong><u>Engineering Insurance:</u></strong><em>Contract documents, Bill of Quantity (BOQ)</em><strong>;</strong><br>
            <strong><u>Travel Medical Insurance:</u></strong><em>Copy of Passport</em><br>
            <strong><u>Other Insurance:</u></strong><em>As required by the company</em></td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Processing time for issuance of Insurance Policy</strong></td>
            <td style="width:462px;">1 (One) working day after completely receiving all the required documents.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Insurance Premium to be paid by the insured for New or Renewal Insurance Policy</strong></td>
            <td style="width:462px;">Premium amount computed as per rate prescribed by the directives of the regulatory body for new and renewal insurance policy.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Insurance Period</strong></td>
            <td style="width:462px;">Generally, insurance coverage period is for 1 year from the effective date of policy, but it may vary in some cases as defined by the policy.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Renewal Notice</strong></td>
            <td style="width:462px;">Renewal notice is given 30 days prior to the expiry of Insurance policy.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Where to Claim</strong></td>
            <td style="width:462px;">Toll free No. 1660-01-99099 or Claim Department of the company’s head office or any branch offices.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Time Taken to complete claim process</strong></td>
            <td style="width:462px;">Within 3 weeks after receiving of Surveyor’s report and/or other required documents and information.<br>
            &nbsp;</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Share related jobs</strong></td>
            <td style="width:462px;">All the share related jobs are done at Civil Capital Markets Limited, 6<sup>th</sup> Floor CTC Mall, Kathmandu.</td>
          </tr>
          <tr>
            <td style="width:155px;"><strong>Officers to receive Complaints</strong></td>
            <td style="width:462px;">At the Company’s Head Office;<br>
            First - Mr. Nauminath Adhikari , Head HR<a name="_GoBack"></a><br>
            Second -&nbsp; Mr. Manoj Shrestha, DGM<br>
            Third – Mr. Sunil Ballav Pant, CEO</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock content %}