{% extends "pillar.html" %}
{% block title %}
  Citizen Charter
{% endblock title %}

{% block content %}
<hr style="height: 7px; background-color:#fb0b3f;">
<div class="container">
    <br>
    <h4 class="text-center">Citizen  <span class="text-danger">Charter</span></h4>

    <table class="table table-striped">
        <tbody>
            
            {% for sa in s  %}
            <tr>
                <th scope="row">{{sa.name}}</th>
                <td>{{sa.details}}</td>
               
            </tr>
            {% endfor %}
                
         
        </tbody>
    
     
      </table>
</div>
{% endblock content %}