{% extends "pillar.html" %}
{% block title %}
  Download News and Update
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row backandrollall">
        <div class="col-md-12 col-12 p-0 m-0 senright">
          <div class="firsthead p-3 pl-3">
                <h3>News and Updates</h3>
         </div>
        
        </div>
        <div class="col-md-12 col-12 p-2 m-0">
            <div class="download" style="width:100%">
                <div class="row p-0 m-0">
                    {% for i in  d%}
                    <div class="col-12 col-md-6 mb-2">
                        <a href="{%url 'landing:news' i.id%}">
                            <div class="products-show-satement mt-3" style="height: 190px; width: 100%; overflow: hidden;">
                                <div class="row">
                                    {% if i.image %}
                                        <div class="col-8">
                                            <small>{{i.dateof}}</small>
                                            <hr>
                                            <h6 class="p-0 m-0">{{i.name}}</h6>
                                            <small>
                                                {{i.description|safe|truncatewords:20}}
                                                <button class="btn btn-sm btn-light">Read More</button>
                                            </small>
                                        </div> 
                                        <div class="col-4">
                                            <img class="w-100 h-100" src="{{i.image.url}}" alt="{{i.name}}" srcset="">
                                        </div>
                                    {%else%}
                                    <div class="col-12">
                                        <small>{{i.dateof}}</small>
                                        <hr>
                                        <h6 class="p-0 m-0">{{i.name}}</h6>
                                        <small>
                                            {{i.description|safe|truncatewords:13}}
                                            <button class="btn btn-sm btn-light">Read More</button>
                                        </small>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      
    </div>
</div>  



{% endblock content %}