{% extends "pillar.html" %}
{% load static %}
{% block title %}
  FAQs NLG Insurance
{% endblock title %}
{% block content %}
<style>
    .btn{
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
</style>
<div class="container-fluid" style="height:auto; padding-button:30px;">
    <div class="row backandrollall">
        <div class="col-md-7 col-12 p-0 m-0 head-right">
            <div class="firsthead p-3 ml-4">
                <h3>FAQs</h3>
                <hr>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. What is insurance? 
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Insurance is a contract between two parties insurer and insured in which one party (the insurer, in return of certain and agreed amount of money called the premium), assure the other party (the insured) to make good any financial loss. The insured may suffer as a result of occurrence of the specified, insured and unforeseen events (perils) that take place within the period described in the contract.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. How many types of insurance are there in the market?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            There are two types of insurance in the market, namely Life Insurance and Non-Life or General Insurance. Life Insurance provides cover for human and human related things. NLG Insurance Company only issues Non-Life Insurance.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. What is Non-Life Insurance?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Non-Life or General Insurance provides cover for all the rest (house, warehouse, industry, vehicle etc.) apart from that covers in Life Insurance. However, Personal Accidents, Personal Medical, Third Party Liability, Production Liability, Travel Trip are also covered in Non-Life Insurance. The nature of Non-Life insurance cover is normally short term, such as one year.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4. How can a person or organization take insurance?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                            To take insurance, a person or organization should decide about the product they want the cover for, the perils they want to cover against, the current monetary value of the product and for how long they want it covered. After that, they have to get a proposal form from NLG Insurance Company or its website, fill the appropriate fields and submit at any of the NLG Insurance offices. (Our marketing staffs are available to assist on filling proposal form in any of the branch or head office) 
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                5. What is the purpose of filling up the proposal form?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                          <div class="card-body">
                            The purpose of proposal form is to get information from the insured to issue an insurance policy. The information is as followed:<br>
                            · Name &amp; Address of proposer;<br>
                            · Details about the proposed properties, persons, liabilities etc;&nbsp;<br>
                            · Location, Transit route etc. of proposed;&nbsp;<a name="_GoBack"></a><br>
                            · Property, profession age etc. of proposed persons, nature of business for liabilities etc;&nbsp;<br>
                            · Proposed Value, Limit of liabilities, Sum Insured etc. for the insurance;&nbsp;<br>
                            · Risks required;&nbsp;<br>
                            · Period of insurance;&nbsp;<br>
                            · Past insurance and claim record…..etc<br>
                          
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                6. What documents are required with proposal?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                          <div class="card-body">
                            <strong>6. What documents are required with proposal?</strong><br>
                            <u>For Motor Vehicle Insurance:</u>&nbsp;photocopy of the vehicle registration book (Blue Book) and Renewal Notice from the previous Insurance Co. for “No Claim Discount”;<br>
                            <u>For Marine Transit Insurance:</u>&nbsp;Invoice / Performa Invoice, Packing list, Letter of Credit (L/C) etc.<br>
                            <u>For Contractors' All Risk Insurance:</u>&nbsp;Contract Document, Bill of Quantity (BOQ);<br>
                            <u>For Travel Medical Insurance:</u>&nbsp;Copy of Passport and for other insurance, as required by the Insurance Company<br>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                7. What are the duties of insurance policy holder?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                          <div class="card-body">
                            The insurance policy holder should check the “Policy Schedule” for the confirmation of insured name, policy period, property/person/liability insured, risks covered, premium, special exclusions etc and “Policy” for terms, conditions, exclusions, warranties, limitations etc. The insurance policy holder should also check the premium calculation.
                          </div>
                        </div>
                    </div>
                  </div>
            </div>
           
        </div>
        <div class="col-md-5 col-12 hideformob">
            <div class="branch text-center">
                <a href="{%url 'landing:landing'%}" class="footer-logo text-center">
                    <img src="{%static 'images/downlogo.PNG'%}" alt="footer_logo" class="img-fluid" style="border-radius: 50%; border: 3px solid #fb0b3f;">
                </a>
            </div>
        </div>
    </div>
    <br><br>

</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br>
<script>
$('.popover-dismiss').popover({
    trigger: 'focus'
  })

</script>
{% endblock content %}