{% extends "pillar.html" %}
{% load static %}
{% block title %}
  FAQs NLG Insurance
{% endblock title %}
{% block content %}
<style>
    .btn{
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
</style>
<div class="container-fluid" style="height:auto;">
    <div class="row backandrollall">
        <div class="col-md-7 col-12 p-0 m-0 head-right">
            <div class=" p-3 ml-4">
                <h3 class="text-light">FAQs</h3>
                <hr>
                <div class="accordion" id="accordionExample">
                  
                  {% for i in faq %}
                  <div class="card">
                    <div class="card-header" id="heading{{i.id}}" style="display: flex; justify-content: space-between;">
                      <h5 class="mb-0" >
                        <h6 class="text-dark">
                          {{i.question}} 
                        </h6>
                        <button class="btn text-danger" type="button" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}">
                          <i class="fa fa-plus"></i>
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapse{{i.id}}" class="collapse {%if i.id == show%} show {%else%} collapsed {%endif%}" aria-labelledby="heading{{i.id}}" data-parent="#accordionExample">
                      <div class="card-body">
                        {{i.answer|safe}}
                          
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
            </div>
           
        </div>
        <div class="col-md-5 col-12 hideformob">
            <div class="branch text-center">
                <a href="{%url 'landing:landing'%}" class="footer-logo text-center">
                    <img src="{%static 'images/downlogo.PNG'%}" alt="footer_logo" class="img-fluid" style="border-radius: 50%; border: 3px solid #fb0b3f;">
                </a>
            </div>
        </div>
    </div>
    <br><br>

</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br>
<script>
$('.popover-dismiss').popover({
    trigger: 'focus'
  })

</script>
{% endblock content %}