{% extends "pillar.html" %}
{% load static %}
{% block title %}
  Help Center NLG Insurance
{% endblock title %}
{% block content %}
<style>
    .btn{
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
</style>
<div class="container-fluid" style="height:auto;">
    <div class="row backandrollall">
        <div class="col-md-12 col-12 p-0 m-0 head-right">
            <div class=" p-3 ml-4">
                <h3 class="text-light">Help Center</h3>
                <hr>
                <div class="accordion" id="accordionExample">
                  
                  {% for i in data %}
                  <div class="card">
                    <div class="card-header" id="heading{{i.id}}" style="display: flex; justify-content: space-between;">
                      <h5 class="mb-0" >
                        <h6 class="text-dark">
                          {{i.title}} 
                        </h6>
                        <button class="btn text-danger" type="button" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}">
                          <i class="fa fa-plus"></i>
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapse{{i.id}}" class="collapse {%if i.id == show%} show {%else%} collapsed {%endif%}" aria-labelledby="heading{{i.id}}" data-parent="#accordionExample">
                      <div class="card-body">
                        {{i.description|safe}}
                          
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
            </div>
           
        </div>
    
    </div>

</div>

<script>
$('.popover-dismiss').popover({
    trigger: 'focus'
  })

</script>
{% endblock content %}