{% extends "pillar.html" %}
{% load static %}
{% block title %}
    NLG Insurance Best Insurance in Nepal
{% endblock title %}
{% block loader %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
{% endblock loader %}
{% block content %}
  <style>
    .below h6{
      color: black!important
    }
  </style>
  <div class="container-fluid">
    
    {% for i in ann  %}
         <!-- Annoucement Link -->
      <div class="modal fade" id="exampleModalCenterAnn{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="exampleModalLongTitle">Annoucement - {{i.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <a href="{%url 'landing:landing'%}" class="footer-logo text-center">
                
                {% if i.image %}
                <img src="{{i.image.url}}" class="img-fluid" style="height: 145px; width: 50%;">
                {% endif %}

              </a>
          
             </p>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
       </div>
       <!-- End Annoucement -->
    {% endfor %}
   
     
    <div class="row backandroll">
        <div class="col-md-5 col-12 p-0 m-0 head-right home-man">
          <div class="firsthead p-3 ml-4">
            <h3>NLG INSURANCE COMPANY LIMITED</h3>
            <h5>सबैको सुरक्षा, एनएलजीको ईच्छा </h5>
            <hr>
            <p>
              NLG Insurance Company Limited is a part of National Life & General Insurance(NLGI) incorporated in 1988 to conduct Life as well as General business. 
              <span data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;">
                Read More...
              </span>
             <!-- Description Link -->
             <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">More About NLG</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    <a href="{%url 'landing:landing'%}" class="footer-logo text-center">
                      <img src="{%static 'images/downlogo.PNG'%}" alt="footer_logo" class="img-fluid" style="height: 145px; width: 50%;">
                   </a>
                   <hr>
                   <p class="text-dark">
                    NLG Insurance Company Limited is a part of National Life & General Insurance(NLGI) incorporated in 1988 to conduct Life as well as General business, as composite insurance company. As per requirement of the Insurance Act of Nepal, General Insurance business of NLGI was separated and a new company by the name NLG Insurance Company Ltd.
                    (NLG) was incorporated in 2005. 'NLG' has over 3 decades of experience in providing insurance services to its individual and corporate clients. Through our customer driven service packages, personalized service delivery and technology focused operation, our clients enjoy value that are unparallel in the industry.

                    While 'NLG' is widely acknowledged for its promptness in claims services, it serves its large client base by providing diverse product range throughout the country by its largest number of network. Our clients span all levels of society - business corporations, government offices, development organizations and individual customers. 'NLG' has reliable reinsurance support of world's renowned reinsurer Hannover Re as its lead reinsurer.
                    Its strategic stakeholders are:
                    <p class="m-0 p-0 mt-1 text-dark">
                      National Life Insurance Co. Ltd.
                    </p>
                    <p class="m-0 p-0 mt-1 text-dark">
                      Rastriya Banijya Bank.
                    </p>
                    
                    <p class="m-0 p-0 mt-1 text-dark">
                      Public Stakeholders.
                    </p>
                    
                    
                   </p>
                  </div>
                  <div class="modal-footer">
     
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
             </div>
             <!-- End Description Link -->
            </p>
            <a href="{%url 'landing:download'%}">
              <div class="btn btn-light">
                Get latest Update
              </div>
            </a>
           
          </div>
           
        </div>
        <div class="col-md-1 col-12 p-0 m-0">
        </div>
        <div class="col-md-6 col-12">
          <br>
          <br>
          {% block welcomeleft %}
          <h4 class="ml-3 mr-3 text-center">Your Future Our Responsibilty</h4>
          <hr class="ml-3 mr-3">
          <div class="row p-3">
            
            {% for i in products %}
              <div class="col-md-3 col-6 p-2" data-scroll-reveal="enter left move 30px over 0.3s after 0.2s">
                <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterProperty{{i.id}}">
                    <div class="text-center p-1">
                        <img class="res-gif" src="{{i.image.url}}" alt="" srcset="">
                        <p class="text-center p-0 m-0">{{i.name|truncatewords:1|slice:"-2"}}</p>
                      
                    </div>
                      <!-- Modal PP -->
                      <div class="modal fade" id="exampleModalCenterProperty{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">{{i.name}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="text-center p-1">
                                <img class="res-gif" src="{{i.image.url}}" alt="" srcset="" style="height: 250px;">
                                <p>
                                {{i.description}}
                                </p>
                                {% if i.sub_product.all %}
                                        <hr>
                                          <h6 class="text-dark">SUB PRODUCTS</h6>
                                        <hr>
                                        {% for j in i.sub_product.all%}
                                        <div class="row mt-1">
                                          <div class="col-12 col-md-12 text-center">
                                            <div class="bods d-flex P-2" style="height: auto;">
                                                <img src="{{j.image.url}}" class="my-auto" alt="{{j.name}}">
                                                <div class="p-2 ml-5">
                                                    <h6 class="text-dark">{{j.name}}</h6>
                                                    <small>{{j.description}}</small><br>
                                              
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                
                                   
                                        {% endfor %}
                                          
                                      {% endif %}
                                
                              
                            </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- PP Modal End -->
                </div>
              </div>
            {% endfor %}
          </div>
          <br>
          <a href="{%url 'landing:productPolicies'%}" class="main-button-slider ml-3">KNOW MORE</a>
          <br><br>
           
    
          {% endblock welcomeleft %}
        </div>
    </div>
    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
      <br>
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="features-item">
                      <div class="features-icon">
                          
                          <img src="{%static 'assets/images/finance.png'%}" alt="">
                          <h4>Financial Statement</h4>
                          <p>Discover our Financial Statement Annualy, Minute, Quarterly Statements</p>
                          <a href="{%url 'landing:finance'%}" class="main-button-slider">
                              Discover More
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                  >
                  <div class="features-item">
                      <div class="features-icon">
                          
                          <img src="{%static 'assets/images/cal.png' %}" alt="">
                          <h4>Premium Calculator</h4>
                          <p>Don't borther yourself. Use Premium Calculator and get your value.</p>
                          <a href="{%url 'landing:calculator'%}" class="main-button-slider">
                              Discover More
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                  >
                  <div class="features-item">
                      <div class="features-icon">
                        
                          <img src="{%static 'assets/images/down.png'%}" alt="">
                          <h4>Downloads</h4>
                          <p>Download News and latest updates from Insurance company Limited</p>
                          <a href="{%url 'landing:download'%}" class="main-button-slider">
                              Discover More
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Features Big Item End ***** -->

  <!-- start why choose us -->
    <div class="container">
      <br>
        <div class="row">
          <div class="col-md-12 col-12">
            <h6 class="d-block">Why Choose Us?</h6>
            <h4>NLG Insurance Company Limited is <span class="text-danger"> committed </span> to help clients to reach the goals</h4>
          </div>
         
          <div class="col p-2" >
            <a href="{%url 'landing:branch'%}">
              <div class="choose-box">
                <div class="holder1 p-2 m-auto ">
                  <div class="chooseone1 mt-3">
                    <h4 class="text-center mt-2 mb-0">
                      80
                    </h4>
                    <p class="text-center">
                      <i class="fa fa-plus"></i>
                    </p>
                    
                  </div>
                  <div class="below w-100">
                    <h6 class="text-center mt-2">Branches</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col p-2">
            <div class="choose-box ">
              <div class="holder p-2 m-auto ">
                <div class="chooseone p-2 mt-3">
                  <h6 class="text-center mt-3 mb-0">
                    24 X 7
                  </h6>
                 
                </div>

              </div>
              <div class="below w-100 mt-3">
                <h6 class="text-center mt-2">Supports</h6>
              </div>
            </div>
          </div>
          <div class="col  p-2">
            <div class="choose-box">
              <div class="holder1 p-2 m-auto ">
                <div class="chooseone1 mt-3">
                  <h4 class="text-center mt-2 mb-0">
                    30+
                  </h4>
                  <div class="text-center">
                    <span class="text-center" style="font-weight: bold;">Year</span>
                  </div>
                  
                </div>
              </div>
              <div class="below w-100 mt-3">
                <h6 class="text-center mt-2">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col p-2">
            <a href="{%url 'landing:productPolicies'%}">
              <div class="choose-box ">
                <div class="holder p-2 m-auto ">
                  <div class="chooseone p-1 mt-3">
                    <h4 class="text-center mt-1 mb-0" style="color: white;">
                      20
                    </h4>
                    <p class="text-center" style="color: white;">
                      <i class="fa fa-plus"></i>
                    </p>
                  </div>
                </div>
                <div class="below w-100 mt-3">
                  <h6 class="text-center mt-1">Products</h6>
                </div>
              </div>
            </a>
          </div>

          <div class="col  p-2">
            <div class="choose-box">
              <div class="holder1 p-2 m-auto ">
                <div class="chooseone1 mt-3">
                  <h4 class="text-center mt-2 mb-0">
                    120+
                  </h4>
                  <div class="text-center">
                    <span class="text-center" style="font-weight: bold;">Crore</span>
                  </div>
                  
                </div>
              </div>
              <div class="below w-100 mt-3">
                <h6 class="text-center mt-2">Capital</h6>
              </div>
            </div>
          </div>
         
        </div>
    </div>
    <br><br>
  <!-- why choose us finish -->

  <!-- start insurance policy -->
  <div class="container">
    
    <div class="row">
    
      <div class="col-md-6 col-12 downside">
        
          <ul>
            
              <li data-scroll-reveal="enter right move 30px over 0.3s after 0.2s" class="p-2">
                  <img src="assets/images/about-icon-01.png" alt="">
                  <div class="text">
                      <h4>NLG Insurance Company Limited</h4>
                      <p class="mb-2">NLG Insurance Company Limited is a part of National Life & General Insurance(NLGI) incorporated in 1988 to conduct Life as well as General business, as composite insurance company. As per requirement . . . . .</p>
                      <div class="btn btn-outline-danger p-2" data-toggle="modal" data-target="#exampleModalLong">
                          <i class="fa fa-eye"></i> Read More
                      </div>
                  </div>
              </li>
              <!-- Modal for INTRO -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">NLG INTRODUCTION</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                          NLG Insurance Company Limited is a part of National Life & General Insurance(NLGI) incorporated in 1988 to conduct Life as well as General business, as composite insurance company. As per requirement of the Insurance Act of Nepal, General Insurance business of NLGI was separated and a new company by the name NLG Insurance Company Ltd.
                          (NLG) was incorporated in 2005. 'NLG' has over 3 decades of experience in providing insurance services to its individual and corporate clients. Through our customer driven service packages, personalized service delivery and technology focused operation, our clients enjoy value that are unparallel in the industry.
                          
                          While 'NLG' is widely acknowledged for its promptness in claims services, it serves its large client base by providing diverse product range throughout the country by its largest number of network. Our clients span all levels of society - business corporations, government offices, development organizations and individual customers. 'NLG' has reliable reinsurance support of world's renowned reinsurer Hannover Re as its lead reinsurer.
                          Its strategic stakeholders are:
                        </p>
                        <ul>
                            <li>National Life Insurance Co. Ltd.</li> <br class="p-0 m-0">
                            <li>Rastriya Banijya Bank.</li><br class="p-0 m-0">
                            <li>Public Stakeholders.</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Modal Finish -->
              <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s" class="p-2 mt-2">
                  <img src="assets/images/about-icon-02.png" alt="">
                  <div class="text">
                      <h4>CEO Messages</h4>
                      <p class="mb-2">Though we have 60 years of history in insurance sector in Nepal, its growth seems to be very low. Although the importance of insurance is high, people here in Nepal are not quite . . . .</p>
                      <div class="btn btn-outline-danger p-2 " data-toggle="modal" data-target="#exampleModalLong1">
                          <i class="fa fa-eye"></i> Read More
                      </div>
                  </div>
              </li>
              <!-- Modal for CEO -->
              <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Our CEO Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Though we have 60 years of history in insurance sector in Nepal, its growth seems to be very low. Although the importance of insurance is high, people here in Nepal are not quite aware of the features of insurance. The reason behind this can be crisis in political, economic and industrial sectors. We, all general insurance companies along with participation of Insurance Board have been trying to raise public awareness among people by forming marketing committee, but we found it as a challenging job.
                          The devastating earthquake that shook Nepal on 2015/04/25 and continuous aftershocks occurring after it has badly affected all the financial sectors including general insurance. For the damages done by the devastative earthquake, NLG has discharged Rs. 19 Crore to the victims. Out of the total 16,700 number of claims lodged with all the general insurance companies, 1,353 claims were lodged against NLG among which 892 claims were settled.
                          There was an alarming belief that insurance companies would have to face high amount of claims leading to failure of many insurance companies due to the devastating earthquake, however NLG has been successful in converting these challenges into opportunities and simultaneously achieved profit, though less than in previous years due to the increase in claim expenses than in previous years.
                          NLG has been working towards discharging pending claims as soon as possible with an aim that such payments would be of great help for the victims in reconstructing the destructions done by the massive earthquake. In fulfilling this aim, NLG has arranged a separate desk for the victims of earthquake and has brought easiness in discharging claims of small amount. However, the insured having huge claims in amount cannot be settled immediately as some time is required for evaluation of loss but arrangements were made to provide claim advances to such insured.
                          Despite such devastating event, insurance companies have been able to properly manage themselves. Talking about NLG, it is not only active in insurance business but also is an active participant in social welfare events. Professional discipline and transparency are its assets. It has also been honored by awards such as National BPA Award which has added even more responsibilities to the company. We have been working so as to be the top insurance company conducting business in Nepal.
                        </p>
                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Modal Finish -->
              
          </ul>
  
      </div>
      <div class="col-md-6 col-12 policyside">
        <div class="text-center">
          <img src="{%static 'images/policy side.jpg'%}" alt="" srcset="">
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- End Insurance policy -->
  </div>

  <div class="container">
    <br>
   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.6738474092735!2d85.32163321462698!3d27.727354731220206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1918204e6ded%3A0xff047d4302a7b0eb!2sNLG+INSURANCE+COMPANY+LIMITED!5e0!3m2!1sen!2snp!4v1467190472573" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe> 
    
  </div>

  <!-- contact forms -->
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-md-8 col-12">
        
        <h4><span class="text-danger">Query</span> </h4>
        <div class="contact-form">
          <form id="contact" action="" method="post">
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <fieldset>
                          <input name="name" type="text" id="name" placeholder="Full Name" required=""
                              style="background-color: rgba(250,250,250,0.3);">
                      </fieldset>
                  </div>
                  <div class="col-md-6 col-sm-12">
                      <fieldset>
                          <input name="email" type="text" id="email" placeholder="E-Mail Address"
                              required="" style="background-color: rgba(250,250,250,0.3);">
                      </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                        <input name="number" rows="6" id="number" placeholder="Phone Number"
                            required="" style="background-color: rgba(250,250,250,0.3);"></input>
                    </fieldset>
                </div>
                <div class="col-md-12 col-sm-12">
                    <fieldset>
                        <input name="subject" type="text" id="subject" placeholder="Subject"
                            required="" style="background-color: rgba(250,250,250,0.3);">
                    </fieldset>
                </div>
                  <div class="col-lg-12">
                      <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your Message"
                              required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                      </fieldset>
                  </div>
                  {% csrf_token %}
                  <div class="col-lg-12">
                      <fieldset>
                          <button type="submit" id="form-submit" class="main-button-slider" style="border: none;">Send Message
                              Now</button>
                      </fieldset>
                  </div>
              </div>
          </form>
        </div>
      </div>
      
      <div class="col-md-4 col-12">
        <div class="adhikari p-4">
          <div class="nath p-3">
            <h4 class="text-light">Information  Officer</h4>
            <hr>
            <h5>Mr. Naumi Nath Adhikari</h5>
            <p>Senior Manager</p>
            <p><a href="mailto:naumi.adhikari@nlgi.com.np" style="color: white;"><i class="fa fa-envelope"></i></a>  naumi.adhikari@nlgi.com.np</p>
            <p> <a href="tel:9851073511" style="color: white;"><i class="fa fa-phone"></i></a> 00977-9851073511</p>
            <div class="text-center">
              <img src="{%static 'images/nath.png'%}" alt="" srcset="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  
  {% for i in ann  %}
  <script type="text/javascript">
    $(window).on('load', function() {
        $('#exampleModalCenterAnn{{i.id}}').modal('show');
    });
  </script> 
  {% endfor %}
    
    

{% endblock content %}