{% extends "base.html" %}
{% load static %}
{% block title %}
  Our Products and Policy
{% endblock title %}
{% block welcomeleft %}
<div class="container">
    <div class="row">
        <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
            data-scroll-reveal="enter left move 30px over 0.3s after 0.2s">
            <h4 class="ml-3">Our Products and Policies</h4>
            <hr class="ml-3">
            <p class="p-2">We provides different Products and Polices. NLG Insurance Company Limited is a part of National Life and General Insurance(NLGI) incorporated in 1988 to conduct Life as well as General business, as composite insurance company.
                As per requirement of the Insurance Act of Nepal 
            </p>
    
            <div class="text-center">
                <img src="{%static 'assets/images/down.gif'%}" alt="" srcset="" style = "height: 100px;">
            </div>
        </div>
    </div>
</div>
{% endblock welcomeleft %}

{% block content %}
<br>
    <div class="container-fluid">
        <h5 class="text-center">Our Products</h5>
        <hr>
        <div class="row">
            
            {% for i in product  %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        
                        {% if i.image %}
                        <img class="res-gif-prodcut" src="{{i.image.url}}" alt="" srcset="">
                        {%else%}
                        <img class="res-gif-prodcut" src="{%static 'assets/images/marine1.gif'%}" alt="" srcset="">
                        {% endif %}
                            
                       
                        <h5 class="text-center p-0 m-0">{{i.name}}</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2" data-toggle="modal" data-target="#exampleModalCenter{{i.id}}">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>

                        <!-- modal -->
                        <div class="modal fade" id="exampleModalCenter{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">{{i.name}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                   {{i.description}}
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}
                
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/marine1.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Marine(cargo) Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>

                        <!-- modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Marine(Cargo) Insurance Policy</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    Once your marine cargo lands you tend to take good care of it. But who does protect it whilst its on high seas? Your cargo can be damaged on exposure to a wide variety of risks, including accidents, stranding, grounding, sinking, burning, collisions, faults or errors in navigation, heavy weather, entry of sea or river water, improper stowage by the carrier, theft or pilferage, strikes or natural perils. Why expose it to such risks, when you can cover it with Marine Insurance Policy from NLG. Marine Insurance Policy covers against perils exposed in marine cargo (ICC), inland transit (ITC), and air cargo (ICC Air).

                                  </p>
                                  <p>
                                    Started from 21st Chaitra, 2062
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/motor.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Motor Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2"  data-toggle="modal" data-target="#exampleModalCenter1">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                         <!-- modal -->
                         <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Motor Insurance Policy</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people, or a commercial vehicle used to transport goods between cities, whatever you insurance needs, NLG covers all types of vehicle insurance. Motor Insurance is perhaps the main class of insurance that covers your financial loss that can arise on virtually a daily basis, whether it is damaged to your own vehicle, damage to third party's vehicle or 
                                    injury/death to a passenger or a member of the public as a result of a vehicle accident.

                                  </p>
                                  <p>
                                    Started from 21st Chaitra, 2062
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/house.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Property Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/eng.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Engineering Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/plane3.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Aviation Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/covid.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Covid-19 Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="products-show mt-3">
                    <div class="text-center p-1">
                        <img class="res-gif-prodcut" src="{%static 'assets/images/motor.gif'%}" alt="" srcset="">
                        <h5 class="text-center p-0 m-0">Misc. Accident Insurance</h5>
                        <button class="btn btn-sm btn-outline-danger readPolicy m-2">
                            <i class="fa fa-eye"></i> Read Policy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}

