{% extends "pillar.html" %}
{% load static %}
{% block title %}
  NLG Products
{% endblock title %}
{% block content %}
<style>
    .res-gif{
        width:90px;
        height: 60px;
    }
    @media screen and (max-width:600px){
        .backandrollProduct{
            height: 700px;
        }
    }
</style>
  <div class="container-fluid" >
      <div class="row backandrollProduct">
          <div class="col-md-12 col-12 p-0 m-0 head-right">
            <div class="firsthead p-3 ml-3">
              <h3>Insurance Products </h3>
              <div class="insurance-product p-3">
              
               
                <div class="row p-3">
                  
                  <div class="col-md-6 col-12">
                    <div class="row">
                       <!-- Property -->
                       <div class="col-md-3 col-6 p-2">
                        <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterProperty">
                            <div class="text-center p-1">
                                <img class="res-gif" src="{%static 'assets/images/house.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                <p class="text-center p-0 m-0 text-dark">Property</p>
                              
                            </div>
                              <!-- Modal PP -->
                              <div class="modal fade" id="exampleModalCenterProperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-dark" id="exampleModalLongTitle">Property Insurance</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="text-center p-1">
                                        <img class="res-gif" src="{%static 'assets/images/house.gif'%}" alt="" srcset="" style="height: 250px;">
                                        <p class="text-dark">
                                          Your valuable properties (building, machine, furniture & fixtures, stock etc) take years to build and needs your careful planning in terms of its protection. It supports not just your livelihood, but that of all individuals and their families directly and indirectly connected with it. Good sense would dictate that it is adequately protected with a Property Insurance Policy from NLG. The Standard Property Insurance Policy covers loss or damage caused by Fire, Earthquake, Lightning, Riot, Strike and malicious damage, Terrorism etc. to the insured property, including computers and ancillary equipments.
                                        </p>
                                        <p class="text-dark">Started from 1st Magh, 2075 (15th Jan, 2019)</p>
                                      
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- PP Modal End -->
                        </div>
                       </div>
                     
                      <!-- Marine -->
                      <div class="col-md-3 col-6 p-2">
                        <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterMarine">
                            <div class="text-center p-1">
                                <img class="res-gif" src="{%static 'assets/images/marine1.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                <p class="text-center p-0 m-0 text-dark">Marine</p>
                                
                            </div>
                            <!-- Modal Marine -->
                            <div class="modal fade" id="exampleModalCenterMarine" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">Marine (Cargo) Insurance Policy</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="text-center p-1">
                                      <img class="res-gif" src="{%static 'assets/images/marine1.gif'%}" alt="" srcset="" style="height: 250px;">
                                      <p class="text-center p-0 m-0 text-dark">Once your marine cargo lands you tend to take good care of it. But who does protect it whilst its on high seas? Your cargo can be damaged on exposure to a wide variety of risks, including accidents, stranding, grounding, sinking, burning, collisions, faults or errors in navigation, heavy weather, entry of sea or river water, improper stowage by the carrier, theft or pilferage, strikes or natural perils. Why expose it to such risks, when you can cover it with Marine Insurance Policy from NLG. Marine Insurance Policy covers against perils exposed in marine cargo (ICC), inland transit (ITC), and air cargo (ICC Air).</p>
                                      <p class="text-dark">Started from 21st Chaitra, 2062</p>
                                  </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Marine Modal End -->
                        </div>
                      </div>

                       <!-- Motor -->
                       <div class="col-md-3 col-6 p-2">
                        <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterMotor">
                            <div class="text-center p-1">
                                <img class="res-gif" src="{%static 'assets/images/motor.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                <p class="text-center p-0 m-0 text-dark">Motor</p>
                                
                            </div>
                              <!-- Modal PP -->
                              <div class="modal fade" id="exampleModalCenterMotor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-dark" id="exampleModalLongTitle">Motor Insurance Policy</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="text-center p-1">
                                        <img class="res-gif" src="{%static 'assets/images/motor.gif'%}" alt="" srcset="" style="height: 250px;">
                                        <p class="text-dark">
                                          Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people, or a commercial vehicle used to transport goods between cities, whatever you insurance needs, NLG covers all types of vehicle insurance. Motor Insurance is perhaps the main class of insurance that covers your financial loss that can arise on virtually a daily basis, whether it is damaged to your own vehicle, damage to third party's vehicle or injury/death to a passenger or a member of the public as a result of a vehicle accident.
                                        </p>
                                        <p class="text-dark">Started from 21st Chaitra, 2062</p>
                                        <ul>
                                          <li><a href="">Motor Cycle Insurance</a></li>
                                          <li><a href="">Private Vehicle Insurance</a></li>
                                          <li><a href="">Third Party Insurance</a></li>
                                      
                                        </ul>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- PP Modal End -->
                        </div>
                      </div>

                      <!-- Engineering -->
                      <div class="col-md-3 col-6 p-2">
                        <div class="white-box">
                            <div class="text-center p-1" data-toggle="modal" data-target="#exampleModalCenterEng">
                                <img class="res-gif" src="{%static 'assets/images/eng.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                <p class="text-center p-0 m-0 text-dark">Engineering </p>
                                
                            </div>
                            <!-- Modal PP -->
                            <div class="modal fade" id="exampleModalCenterEng" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">Engineering Insurance Policy</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="text-center p-1">
                                      <img class="res-gif" src="{%static 'assets/images/eng.gif'%}" alt="" srcset="" style="height: 250px;">
                                      <p class="text-dark">
                                        Setting up a major manufacturing process involves heavy investment in a plant and machinery. While a fire policy can cover loss or damage caused by fire and numerous other perils, it does not cover breakdown of the plant and machinery. Such breakdown can prove to be extremely costly requiring import of parts and expertise in repair.
                                        Moreover, machinery breakdown can halt your complete manufacturing process. Protect it with Machinery Breakdown policy from NLG. This covers machinery (electrical equipment, mechanical plant, process machinery) against unforeseen, sudden accidental physical loss or damage caused.
                                      </p>
                                      <p class="text-dark">Started from 21st Chaitra, 2062</p>
                                      <ul>
                                        <li><a href="">Machinery Insurance</a></li>
                                        <li><a href="">Contractor's All Risk Insurance</a></li>
                                      <ul>
                                </ul></ul>
                                  </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- PP Modal End -->
                        </div>
                      </div>


                    
                    </div>

                  </div>
         
                  <div class="col-md-6 col-12">
                    <div class="row">
                      
                      <!-- Miscellaneous -->
                      <div class="col-md-3 col-6 p-2">
                        <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterMic">
                            <div class="text-center p-1">
                                <img class="res-gif" src="{%static 'assets/images/mic.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                <p class="text-center text-dark p-0 m-0">Miscellaneous </p>
                                
                            </div>
                              <!-- Modal PP -->
                              <div class="modal fade" id="exampleModalCenterMic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-dark" id="exampleModalLongTitle">Miscellaneous</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="text-center p-1">
                                        <img class="res-gif" src="{%static 'assets/images/mic.gif'%}" alt="" srcset="" style="height: 250px;">
                                        <p class="text-dark">
                                          Apart from the above policies, NLG also provides the following products to protect your interest in various aspects of your Life ranging from Medical Insurance to Burglary Insurance, Public Liability Insurance to Fidelity Guarantee Insurance and many others as mentioned below:
          
                                        </p>
                                        <p class="text-dark">Started from 21st Chaitra, 2062</p>
                                        <ul>
                                          <li><a href="">Personal Accident and Group Personal Accident Insurance</a></li>
                                          <li><a href="">House Hold Insurance</a></li>
                                          <li><a href="">Medical Insurance</a></li>
                                          <li><a href="">Banker's Indemnity Insurance</a></li>
                                          <li><a href="">Fidelity Insurance</a></li>
                                          <li><a href="">Burglary Insurance</a></li>
                                          <li><a href="">Public Liability Insurance</a></li>
                                          <li><a href="">Money Insurance</a></li>
                                          <li><a href="">Workmen's Compensation Insurance</a></li>
                                          <li><a href="">Student Safety Insurance</a></li>
                                          <li><a href="">International Travel &amp; Medicare Insurance</a></li>
                                          <li><a href="">Duty Insurance</a></li>
                                          <li><a href="">Professional Indemnity Insurance</a></li>
                                          <li><a href="">Baggage Insurance</a></li>
                                      <ul>
                                  </ul></ul>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- PP Modal End -->
                        </div>
                      </div>

                        <!-- Agriculture -->
                        <div class="col-md-3 col-6 p-2">
                          <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterLife">
                              <div class="text-center p-1">
                                  <img class="res-gif" src="{%static 'assets/images/agri.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                  <p class="text-center p-0 m-0 text-dark">Agriculture</p>
                                  
                              </div>
                              <!-- Modal PP -->
                              <div class="modal fade" id="exampleModalCenterLife" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-dark" id="exampleModalLongTitle">Agriculture Insurance Policy</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="text-center p-1">
                                        <img class="res-gif" src="{%static 'assets/images/agri.gif'%}" alt="" srcset="" style="height: 250px;">
                                        
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- PP Modal End -->
                          </div>
                        </div>
                        <!-- Micro -->
                        <div class="col-md-3 col-6 p-2">
                          <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterCovid">
                              <div class="text-center p-1">
                                  <img class="res-gif" src="{%static 'assets/images/mic.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                  <p class="text-center text-dark p-0 m-0">Micro</p>
                                
                              </div>
                                <!-- Modal PP -->
                                <div class="modal fade" id="exampleModalCenterCovid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLongTitle">Micro Insurance Policy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="text-center p-1">
                                          <img class="res-gif" src="{%static 'assets/images/mic.gif'%}" alt="" srcset="" style="height: 250px;">
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- PP Modal End -->
                          </div>
                        </div>

                      <!-- Avaiation -->
                      <div class="col-md-3 col-6 p-2">
                          <div class="white-box">
                              <div class="text-center p-1" data-toggle="modal" data-target="#exampleModalCenterAvaiation">
                                  <img class="res-gif" src="{%static 'assets/images/plane3.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                                  <p class="text-center text-dark p-0 m-0">Aviation </p>
                                  
                              </div>
                                <!-- Modal PP -->
                                <div class="modal fade" id="exampleModalCenterAvaiation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLongTitle">Aviation Insurance Policy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="text-center p-1">
                                          <img class="res-gif" src="{%static 'assets/images/plane3.gif'%}" alt="" srcset="" style="height: 250px;">
                                          <p class="text-dark">
                                            We live in a country full of rough and unforgiving terrain where aviation disasters have   headlined the newspapers far more frequently than we would have liked. Remote and far flung areas of the country have been brought closer by the expanding aviation business but this has also magnified the occurrence of aviation disasters.
                                            Nobody is able to cover the emotional loss that these disasters wreck upon us but the financial damage caused by the loss of bread-winners can be minimized through Aviation Insurance.
                                          </p>
                                          <p class="text-dark">Started from 21st Chaitra, 2062</p>
                                      </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- PP Modal End -->
                          </div>
                      </div>
                    
                     
                  
                    </div>
                  
                  </div>
                </div>

              </div>
            </div>
          </div>
            
        </div>

  </div>
    
    <div class="container">
       
        <div class="row">
            <div class="col-md-3 col-12  col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-motorcycle mt-4"></i>
                    <h5>Motorcycle </h5>
                    <small>
                        Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people...
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterBike">
                        View Details
                    </div>
                <!-- Modal PP -->
                <div class="modal fade" id="exampleModalCenterBike" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Motor Cycle Insurance</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center p-1">
                            <img class="res-gif" src="{%static 'assets/images/bike.gif'%}" alt="" srcset="" style="height: 250px; width:100%">
                            <p>
                                Apart from the above policies, NLG also provides the following products to protect your interest in various aspects of your Life ranging from Medical Insurance to Burglary Insurance, Public Liability Insurance to Fidelity Guarantee Insurance and many others as mentioned below:

                            </p>
                            <p>Started from 21st Chaitra, 2062</p>
                            
                
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- PP Modal End -->
                </div>
            </div>

            <div class="col-md-3 col-12  col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-home mt-4"></i>
                    <h5>Property </h5>
                    <small>
                      Your valuable properties (building, machine, furniture & fixtures, stock etc) take years to build and needs your careful planning in terms of its protection. It supports not just your livelihood....
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterProperty">
                        View Details
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3  col-12 col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-envira mt-4"></i>
                    <h5>Covid-19 </h5>
                    <small>
                        Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people...
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterCovid">
                        View Details
                    </div>
                </div>
            </div> -->

            <div class="col-md-3 col-12 col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-car mt-4"></i>
                    <h5>Motor </h5>
                    <small>
                        Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people...
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterMotor">
                        View Details
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12 mt-3 col-sm-4">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-plane mt-4"></i>
                    <h5>Avaiation </h5>
                    <small>
                        We live in a country full of rough and unforgiving terrain where aviation disasters have headlined the newspapers far more frequently than we would have liked. Remote and far flung areas...
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterAvaiation">
                        View Details
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12 col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-magnet mt-4"></i>
                    <h5>Enginnering </h5>
                    <small>
                      Setting up a major manufacturing process involves heavy investment in a plant and machinery. While a fire policy can cover loss or damage caused by fire and numerous other perils....
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterEng">
                        View Details
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12 col-sm-4 mt-3">
                <div class="lawandpol text-center p-2">
                    <i class="fa fa-ship mt-4"></i>
                    <h5>Marine </h5>
                    <small>
                        Your vehicle is one of your biggest pride of profession. Be it your own private vehicle used to commute to and for office, or public transport such as taxi or bus used to transport people...
                    </small>
                    <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenterMarine">
                        View Details
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h4 class="text-danger">Discontinued <span class="text-dark">Products</span></h4>
        <hr>
        <div class="row">
          <div class="col-md-3 col-6 p-2">
            <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterCovidaa">
                <div class="text-center p-1">
                    <img class="res-gif" src="{%static 'assets/images/covid.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                    <p class="text-center text-dark p-0 m-0">Covid 19</p>
                  
                </div>
                  <!-- Modal PP -->
                  <div class="modal fade" id="exampleModalCenterCovidaa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterCovidaa" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-dark" id="exampleModalLongTitle">Covid 19 Insurance Policy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center p-1">
                            <img class="res-gif" src="{%static 'assets/images/covid.gif'%}" alt="" srcset="" style="height: 250px;">
                            <div class="about-md1"><p class="text-dark">
                              <strong><u><span antiqua="" book="">Insurance Plan</span></u></strong><br>
                              <span antiqua="" book=""><strong><span antiqua="" book="">Plan A</span></strong></span><br>
                              <span antiqua="" book="">Sum Insured (Per Person): Rs. 100,000.00&nbsp;&nbsp;&nbsp; </span><br>
                              <span antiqua="" book="">Per Person Premium (Individual): Rs. 1,000.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Family): Rs. 600.00</span><br>
                              <span antiqua="" book=""><strong><span antiqua="" book="">Plan B</span></strong></span><br>
                              <span antiqua="" book="">Sum Insured (Per Person): Rs. 50,000.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Individual): Rs. 500.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Family): Rs. 300.00</span><br>
                              <span antiqua="" book=""><strong><u><span antiqua="" book="">Claim:</span></u></strong></span><br>
                              <span antiqua="" book="">If the insured person is diagnosed infected with Corona Virus (Covid 19)</span><span antiqua="" book=""> by Polymerase Chain Reaction (PCR) Test Positive, then he/she is entitled to per person sum insured.</span><br>
                              <span antiqua="" book=""><strong><u><span antiqua="" book="">Waiting Period:</span></u></strong></span><br>
                              <span antiqua="" book="">The first 15 days from the date of issue of policy is considered as a waiting period.</span>        </p></div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PP Modal End -->
            </div>
          </div>

          <div class="col-md-3 col-6 p-2">
            <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterFire">
                <div class="text-center p-1">
                    <img class="res-gif" src="{%static 'assets/images/fire.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                    <p class="text-center text-dark p-0 m-0">Fire</p>
                  
                </div>
                  <!-- Modal PP -->
                  <div class="modal fade" id="exampleModalCenterFire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-dark" id="exampleModalLongTitle">Fire Insurance Policy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center p-1">
                            <img class="res-gif" src="{%static 'assets/images/fire.gif'%}" alt="" srcset="" style="height: 250px;">
                            <div class="about-md1"><p class="text-dark">
                              <p>
                                Your valuable properties (building, machine, furniture & fixtures, stock etc) take years to build and needs your careful planning in terms of its protection. It supports not just your livelihood, but that of all individuals and their families directly and indirectly connected with it. Good sense would dictate that it is adequately protected with a Property Insurance Policy from NLG. The Standard Property Insurance Policy covers loss or damage caused by Fire, Earthquake, Lightning, Riot, Strike and malicious damage, Terrorism etc. to the insured property, including computers and ancillary equipments.
                              </p>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PP Modal End -->
            </div>
          </div>
        </div>

    </div>
    
</div>


{% endblock content %}