{% extends "pillar.html" %}
{% load static %}
{% block title %}
  NLG Products
{% endblock title %}
{% block content %}
<style>
    .res-gif{
        width:90px;
        height: 60px;
    }
    @media screen and (max-width:600px){
        .backandrollProduct{
            height: 700px;
        }
    }
</style>
  <div class="container-fluid" >
      <div class="row backandrollProduct">
          <div class="col-md-12 col-12 p-0 m-0 head-right">
            <div class="firsthead p-3 ml-3">
              <h3>Insurance Products </h3>
              <div class="insurance-product p-3">
              
               
                <div class="row p-3">
                  {% for i in product  %}
                    <div class="col">
                      <div class="white-box" data-toggle="modal" data-target="#exampleModalCenter{{i.id}}">
                          <div class="text-center p-1">
                            {% if i.image %}
                            <img class="res-gif" src="{{i.image.url}}" alt="" srcset="" style="width: 90px; height:60px;">
                            {%else%}
                            <img class="res-gif" src="{%static 'assets/images/house.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                            {% endif %}
                              <p class="text-center p-0 m-0 text-dark">{{i.name|truncatewords:1}}</p>
                            
                          </div>
                            <!-- Modal PP -->
                            <div class="modal fade" id="exampleModalCenter{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">{{i.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="text-center p-1">
                                      {% if i.image %}
                                      <img class="res-gif" src="{{i.image.url}}" alt="" srcset="" style="height: 250px;">
                                      {%else%}
                                      <img class="res-gif" src="/static/assets/images/house.gif" alt="" srcset="" style="height: 250px;">
                                      {% endif %}
                                      
                                      <p class="text-dark">
                                        {{i.description}}
                                      </p>
                                      
                                      {% if i.sub_product.all %}
                                        <h4>Sub Products</h4>
                                        
                                        {% for j in i.sub_product.all%}
                                        <div class="row" style="background-color: aliceblue;">
                                            <div class="col-6">
                                              <p>{{j.name}}</p>
                                              <small>{{j.description}}</small>
                                            </div>
                                            <div class="col-6">
                                              <img src="{{j.image.url}}" alt="" srcset="" style="height: 100px;width: 100px;">
                                              
                                            </div>
                                        </div>
                                   
                                        {% endfor %}
                                          
                                      {% endif %}
                                        
                                    
                                  </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- PP Modal End -->
                      </div>
                    </div>
                  {% endfor %}

                </div>

              </div>
            </div>
          </div>
            
        </div>

  </div>
    
    <div class="container">
       
        <div class="row">
          
          {% for i in product  %}
          <div class="col-md-3 col-12  col-sm-4 mt-3">
            <div class="lawandpol text-center p-2" style="height: 340px;">
              
              {% if i.icons %}
              <i class="{{i.icons}} mt-4"></i>
              {%else%}
              <i class="fa fa-key mt-4"></i>
              {% endif %}
                
                
              <h5>{{i.name}} </h5>
              <small class="d-block">
                {{i.description|truncatewords:40}}
              </small>
              <div class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModalCenter{{i.id}}">
                  View Details
              </div>
            <!-- Modal PP -->
            <div class="modal fade" id="exampleModalCenter{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{i.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center p-1">
                          {% if i.image %}
                          <img class="res-gif" src="{{i.image.url}}" alt="" srcset="" style="height: 250px;">
                          {%else%}
                          <img class="res-gif" src="/static/assets/images/house.gif" alt="" srcset="" style="height: 250px;">
                          {% endif %}
                        <p>
                          {{i.description}}
                        </p>
                        
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    
                    </div>
                    </div>
                </div>
            </div>
            <!-- PP Modal End -->
            </div>
          </div>
          {% endfor %}


        </div>
        <br>
        <h4 class="text-danger">Discontinued <span class="text-dark">Products</span></h4>
        <hr>
        <div class="row">
          <div class="col-md-3 col-6 p-2">
            <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterCovidaa">
                <div class="text-center p-1">
                    <img class="res-gif" src="{%static 'assets/images/covid.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                    <p class="text-center text-dark p-0 m-0">Covid 19</p>
                  
                </div>
                  <!-- Modal PP -->
                  <div class="modal fade" id="exampleModalCenterCovidaa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterCovidaa" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-dark" id="exampleModalLongTitle">Covid 19 Insurance Policy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center p-1">
                            <img class="res-gif" src="{%static 'assets/images/covid.gif'%}" alt="" srcset="" style="height: 250px;">
                            <div class="about-md1"><p class="text-dark">
                              <strong><u><span antiqua="" book="">Insurance Plan</span></u></strong><br>
                              <span antiqua="" book=""><strong><span antiqua="" book="">Plan A</span></strong></span><br>
                              <span antiqua="" book="">Sum Insured (Per Person): Rs. 100,000.00&nbsp;&nbsp;&nbsp; </span><br>
                              <span antiqua="" book="">Per Person Premium (Individual): Rs. 1,000.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Family): Rs. 600.00</span><br>
                              <span antiqua="" book=""><strong><span antiqua="" book="">Plan B</span></strong></span><br>
                              <span antiqua="" book="">Sum Insured (Per Person): Rs. 50,000.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Individual): Rs. 500.00</span><br>
                              <span antiqua="" book="">Per Person Premium (Family): Rs. 300.00</span><br>
                              <span antiqua="" book=""><strong><u><span antiqua="" book="">Claim:</span></u></strong></span><br>
                              <span antiqua="" book="">If the insured person is diagnosed infected with Corona Virus (Covid 19)</span><span antiqua="" book=""> by Polymerase Chain Reaction (PCR) Test Positive, then he/she is entitled to per person sum insured.</span><br>
                              <span antiqua="" book=""><strong><u><span antiqua="" book="">Waiting Period:</span></u></strong></span><br>
                              <span antiqua="" book="">The first 15 days from the date of issue of policy is considered as a waiting period.</span>        </p></div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PP Modal End -->
            </div>
          </div>

          <div class="col-md-3 col-6 p-2">
            <div class="white-box" data-toggle="modal" data-target="#exampleModalCenterFire">
                <div class="text-center p-1">
                    <img class="res-gif" src="{%static 'assets/images/fire.gif'%}" alt="" srcset="" style="width: 90px; height:60px;">
                    <p class="text-center text-dark p-0 m-0">Fire</p>
                  
                </div>
                  <!-- Modal PP -->
                  <div class="modal fade" id="exampleModalCenterFire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-dark" id="exampleModalLongTitle">Fire Insurance Policy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center p-1">
                            <img class="res-gif" src="{%static 'assets/images/fire.gif'%}" alt="" srcset="" style="height: 250px;">
                            <div class="about-md1"><p class="text-dark">
                              <p>
                                Your valuable properties (building, machine, furniture & fixtures, stock etc) take years to build and needs your careful planning in terms of its protection. It supports not just your livelihood, but that of all individuals and their families directly and indirectly connected with it. Good sense would dictate that it is adequately protected with a Property Insurance Policy from NLG. The Standard Property Insurance Policy covers loss or damage caused by Fire, Earthquake, Lightning, Riot, Strike and malicious damage, Terrorism etc. to the insured property, including computers and ancillary equipments.
                              </p>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PP Modal End -->
            </div>
          </div>
        </div>

    </div>
    
</div>


{% endblock content %}