{% extends "pillar.html" %}
{% load static %}
{% block title %}
  SiteMaps NLG Insurance 
{% endblock title %}
{% block content %}
<style>

    .headTop{
        padding: 5px;
        width: 50%;
        background-color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: 3px;
        list-style-type: none;
    }
    .headDowm{
        width: 48.5%;
        background-color: rgb(249 249 249);
        margin-left: 20px;
        font-size: 14px;
        color:  white;
        list-style-type: none;
        margin-top: 2px;
        padding: 1.2px;
    }
</style>
<div class="container-fluid">
    <div class="row backandrollall" style="background-color:#fb0b3f;">
        <div class="col-md-12 col-12 p-0 m-0 head-right">
            <div class="p-3 ml-4">
                <h3 class="text-light">NLG Site Map</h3>
                <hr>
                <ul>
                    <li class="headTop">
                        <a href="/">
                            About Us 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            Introduction 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            CEO Message (Modal)
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            Corporated Goal (Modal) 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus#boardofD">
                            Board of Directors 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            Management Team (Modal)
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            Department Head (Modal)
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/aboutus">
                            RL Partner (Modal)
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/surveyor">
                            Surveyor 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/agents">
                            Agents 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/citizenscharter">
                            Citizen's Charter 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="/products">
                            Policy & Products 
                        </a>
                    </li>
                    
                    {% for i in  product%}
                    <li class="headDowm">
                        <a href="{%url 'landing:thisProduct' i.id%}">
                            {{i.name}}
                        </a>
                    </li>
                    {% endfor %}
                        
                  

                    <li class="headTop">
                        <a href="/branches">
                            Branches 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="/statement">
                            Financial Statement 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/statement">
                            Annual Report 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/statement">
                            Quarterly Report 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/statement">
                            Minute Report 
                        </a>
                    </li>
                    <li class="headDowm">
                        <a href="/statement">
                            Other Report 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="/branches">
                            Branches 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="/downloadNews">
                            News and Update 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="premiumcalculator">
                            Calculator 
                        </a>
                    </li>
                    <li class="headTop">
                        <a href="/contactus">
                            Contact  
                        </a>
                    </li>
                    
                </ul>
             
            </div>
           
        </div>
       
    </div>
    <br><br>

</div>
<br><br><br>
<br><br><br>
<script>
$('.popover-dismiss').popover({
    trigger: 'focus'
  })

</script>
{% endblock content %}