{% extends "pillar.html" %}
{% load static %}
{% block title %}
  NLG Financial Statement
{% endblock title %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row backandrollall">
        <div class="col-md-6 col-12 p-0 m-0 senright">
          <div class="firsthead p-3 ml-4">
            <h3 class="ml-3">NLG STATEMENT</h3>
        </div>
        </div>
       
    </div>
</div> 

<div class="container-fluid " id="showReport">
    <br>
    <div class="row p-3" >
        <div class="col-12 col-md-12">
            <div class="moreinfo fordesktopInfo">

                <h6 class="1">
                    <span class="11 ">
                        Annual Report
                    </span>
                    
                </h6>
                <h6 class="pl-4 2">
                    <span class=" 22  onesel">
                        Quarterly Report
                    </span>
                </h6>
                <h6 class="pl-4 3">
                    <span class="33  ">
                        Minute Report
                    </span>
                </h6>
                <h6 class="pl-4 4">
                    <span class=" 44 ">
                        Other Report
                    </span>
                </h6>
               
            </div>
            <div class="moreinfo forphoneinfo">
                <span class="1">
                    <span class="11 ">
                        Annual Report
                    </span>
                    
                </span>
                <span class="2 pl-2 ">
                    <span class=" 22 onesel ">
                        Quarterly Report
                    </span>
                </span>
                <span class="3 pl-2">
                    <span class="33  ">
                        Minute Report
                    </span>
                </span>
                <span class="4 pl-2">
                    <span class=" 44 ">
                        Other Report
                    </span>
                </span>
            </div>
        </div>
        <br><br>
        {%for j in rep%}
        {%if j.rtype == 'Annual Report' %}
        <div class="col-md-6 col-12 col-lg-6 showAnnual">
            <a href="{{j.pdf}}">
                <div class="products-show-satement mt-2">
                    <div class="text-center p-1 forQuater">
                        <p class="text-center p-0 m-0 pt-2 lowTextForName" >{{j.name}}</p>
                        <div class="report-item">
                            <a href="{{j.pdf}}">
                                <i class="fa fa-eye p-2"></i>
                            </a>      
                        
                            <a href="{{j.download}}">
                                <i class="fa fa-download p-2"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {%endif%}
        {%endfor%}
            {%for i in fis%}
            
                <div class="col-lg-12 col-md-12 col-12 showQuarterly">

                    <div class="accordion" id="accordionExample">
                        <div class="card arcorcard" style="background-color: #fcfcfc;">
                          <div class="card-header" id="heading{{i.id}}">
                            <div class="mb-0" style="display: flex;justify-content: space-between;">
                                <h6 class="text-dark" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}" style="cursor: pointer;">{{i.fiscal}}</h6>
                                <p class="btn text-danger " type="button" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}">
                                    <i class="fa fa-plus"></i>
                                </p>
                            </div>
                          </div>
                      
                          <div id="collapse{{i.id}}" class="collapse {%if bb == i.id %}show {%else%}collapsed {%endif%}" aria-labelledby="heading{{i.id}}" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">

                                    {%for j in i.fiscalyear.all%}
                                    {%if j.rtype == 'Quarterly Report' %}
                                    <div class="col-md-3 col-12 col-lg-3">
                                        <a href="{{j.pdf}}">
                                            <div class="products-show-satement mt-2">
                                                <div class="text-center p-1 forQuater">
                                                    <p class="text-center p-0 m-0 pt-2 lowTextForName" >{{j.name}}</p>
                                                    <div class="report-item">
                                                        <a href="{{j.pdf}}" target="_blank">
                                                            <i class="fa fa-eye p-2"></i>
                                                        </a>      
                                                    
                                                        <a href="{{j.download}}">
                                                            <i class="fa fa-download p-2"></i>
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                
                                </div>
                            </div>
                          </div>
                        </div>
                      
                    </div>


                    <!-- {{i.fiscal}}
                    <hr>
                    <div class="row">

                        {%for j in i.fiscalyear.all%}
                        <div class="col-md-3 col-12 col-lg-3">
                            <a href="{{j.pdf}}">
                                <div class="products-show-satement mt-2">
                                    <div class="text-center p-1 forQuater">
                                        <p class="text-center p-0 m-0 pt-2 lowTextForName" >{{j.name}}</p>
                                        <div class="report-item">
                                            <a href="{{j.pdf}}">
                                                <i class="fa fa-eye p-2"></i>
                                            </a>      
                                        
                                            <a href="{{j.download}}">
                                                <i class="fa fa-download p-2"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {%endfor%}
                    
                    </div> -->
                                    
                </div>
           
            {%endfor%}
        
        {% for i in rep %}
        {%if i.rtype == 'Minute Report' %}
        <div class="col-md-6 col-12 col-lg-6 m-auto showMinute">
            <a href="{{i.pdf}}" target="_blank">
                <div class="products-show-satement mt-2">
                    <div class="text-center p-1">
                        <p class="text-center p-0 m-0 lowTextForName">{{i.name}}</p>
                        <div class="report-item p-3">
                            <a href="{{i.pdf}}" target="_blank">
                                <i class="fa fa-eye p-2"></i>
                            </a>      
                        
                            <a href="{{i.download}}">
                                <i class="fa fa-download p-2"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {%endif%}
    {% endfor %}

    {% for i in rep %}
    {%if i.rtype == 'Other Report' %}
    <div class="col-md-6 col-12 col-lg-6 m-auto showOther">
        <a href="{{i.pdf}}" target="_blank">
            <div class="products-show-satement mt-2">
                <div class="text-center p-1">
                    <p class="text-center p-0 m-0 lowTextForName">{{i.name}}</p>
                    <div class="report-item p-3">
                        <a href="{{i.pdf}}" target="_blank">
                            <i class="fa fa-eye p-2"></i>
                        </a>      
                    
                        <a href="{{i.download}}">
                            <i class="fa fa-download p-2"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </a>
    </div>
    {%endif%}
{% endfor %}


    </div>
</div>
<script>
     $(".showAnnual").hide();
    // $(".showQuarterly").hide();
    $(".showMinute").hide();
    $(".showOther").hide();
    $(".1").click(function(){
        $( ".11" ).addClass( "onesel" );
        $( ".33" ).removeClass( "onesel" );
        $( ".22" ).removeClass( "onesel" );
        $( ".44" ).removeClass( "onesel" );
        $(".showQuarterly").hide();
        $(".showAnnual").show();
        $(".showMinute").hide();
        $(".showOther").hide();
    });
    $(".2").click(function(){
        $( ".22" ).addClass( "onesel" );
        $( ".33" ).removeClass( "onesel" );
        $( ".44" ).removeClass( "onesel" );
        $( ".11" ).removeClass( "onesel" );
        $(".showQuarterly").show();
        $(".showAnnual").hide();
        $(".showMinute").hide();
        $(".showOther").hide();
    });
    $(".3").click(function(){
        $( ".33" ).addClass( "onesel" );
        $( ".44" ).removeClass( "onesel" );
        $( ".22" ).removeClass( "onesel" );
        $( ".11" ).removeClass( "onesel" );
        $(".showQuarterly").hide();
        $(".showAnnual").hide();
        $(".showMinute").show();
        $(".showOther").hide();
    });
    $(".4").click(function(){
        $( ".44" ).addClass( "onesel" );
        $( ".33" ).removeClass( "onesel" );
        $( ".22" ).removeClass( "onesel" );
        $( ".11" ).removeClass( "onesel" );
        
        $(".showQuarterly").hide();
        $(".showAnnual").hide();
        $(".showMinute").hide();
        $(".showOther").show();
    });

    function changedata(){

    }
   
</script>
{% endblock content %}