{% extends "pillar.html" %}
{% block title %}
  SURYEYOR
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h4 class="text-center">Our  <span class="text-danger">SURVEYOR</span></h4>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name of Surveyor</th>
            <th scope="col">Specilization</th>
            <th scope="col">Area</th>
            <th scope="col">Contact No</th>
            <th scope="col">Email</th>
            <th scope="col">Lience no:</th>
            <th scope="col">Issue Date:</th>
            <th scope="col">Renew Date:</th>
          </tr>
        </thead>
        <tbody>
            
            {% for sa in s  %}
            <tr>
                <th scope="row">{{sa.id}}</th>
                <td>{{sa.name}}</td>
                <td>{{sa.specilization}}</td>
                <td>{{sa.area}}</td>
                <td>{{sa.contact}}</td>
                <td>{{sa.email}}</td>
                <td>{{sa.lience_no}}</td>
                <td>{{sa.issued_date}}</td>
                <td>{{sa.renew_date}}</td>
            </tr>
            {% endfor %}
                
         
        </tbody>
    
      
      </table>
</div>
{% endblock content %}