{% extends "pillar.html" %}
{% block title %}
  SURYEYOR
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h4 class="text-center">Our  <span class="text-danger">SURVEYOR</span></h4>

    <table class="table table-striped">
        <!-- <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name of Surveyor</th>
            <th scope="col">Specilization</th>
            <th scope="col">Area</th>
            <th scope="col">Contact No</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            
            {% for sa in s  %}
            <tr>
                <th scope="row">{{sa.id}}</th>
                <td>{{sa.name}}</td>
                <td>{{sa.specilization}}</td>
                <td>{{sa.area}}</td>
                <td>{{sa.contact}}</td>
                <td>{{sa.email}}</td>
            </tr>
            {% endfor %}
                
         
        </tbody> -->
    
        <tbody>
          <tr height="17">
            <td height="17" style="height:17px;width:23px;">SN</td>
            <td style="width:129px;">Name of Surveyor</td>
            <td style="width:129px;">Specilization</td>
            <td style="width:79px;">Area</td>
            <td style="width:93px;">Contact No</td>
            <td style="width:224px;">Email</td>
          </tr>
          <tr height="31">
            <td align="right" height="31" style="height:31px;">1</td>
            <td>Surya Prasad Joshi</td>
            <td>All</td>
            <td>Kathmandu</td>
            <td>9851023804</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">2</td>
            <td style="width:129px;">SK Karna</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851026560<br>
            01-4106108</td>
            <td><a href="mailto:icb_karna@itlook.com">icb_karna@itlook.com</a></td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">3</td>
            <td style="width:129px;">Ghanashyam lekhak</td>
            <td>ALL/ Marine</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9849122778<br>
            01-4106108</td>
            <td><a href="mailto:lekhak62@yahoo.com">lekhak62@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">4</td>
            <td style="width:129px;">Prakash Neupane</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9841381180</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">5</td>
            <td style="width:129px;">Hira Lal Rajbahak</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851122588<br>
            9841467997</td>
            <td style="width:224px;"><a href="mailto:c.mech.consultancy@gmail.com">c.mech.consultancy@gmail.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">6</td>
            <td style="width:129px;">Lalit KC</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851050383<br>
            9813885040</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">7</td>
            <td style="width:129px;">AN Thakur</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851033414</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">8</td>
            <td style="width:129px;">Laxman Babu Sedai</td>
            <td>CAR/ SOIL</td>
            <td>Kathmandu</td>
            <td>9851123697</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">9</td>
            <td style="width:129px;">Amar Bahadur Thapa</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851123698</td>
            <td><a href="mailto:toambarthapa@gmail.com">toambarthapa@gmail.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">10</td>
            <td style="width:129px;">Ramesh Chandra Jha/<br>
            Janarjan Adhikari</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851078425</td>
            <td><a href="mailto:stmspvtltd@yahoo.com">stmspvtltd@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">11</td>
            <td style="width:129px;">BK Shrestha</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851043468</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">12</td>
            <td style="width:129px;">Ananta Paudel</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841372668<br>
            01-4487132</td>
            <td><a href="mailto:anantapaudel@yahoo.com">anantapaudel@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">13</td>
            <td style="width:129px;">Rajan Thapa</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">01-5218095<br>
            01-4284905</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">14</td>
            <td>Rishi Raj Koirala</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851051669</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">15</td>
            <td>Gyanendra Bhari</td>
            <td>CA&nbsp;</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851034469</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">16</td>
            <td style="width:129px;">Surendra Godar</td>
            <td>ALL</td>
            <td>Pokhara</td>
            <td style="width:93px;">9856023888<br>
            061-430944</td>
            <td style="width:224px;"><a href="mailto:consultancygodar@gmail.com">consultancygodar@gmail.com</a></td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">17</td>
            <td style="width:129px;">Ananda Ram Paudel</td>
            <td>ALL</td>
            <td>Hetauda</td>
            <td style="width:93px;">9855068559<br>
            9845022889</td>
            <td style="width:224px;"><a href="mailto:paudel_anandaram@yahoo.com">paudel_anandaram@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">18</td>
            <td style="width:129px;">YC Mishra</td>
            <td>ALL</td>
            <td>Udayapur</td>
            <td>9852028246</td>
            <td><a href="mailto:surveyorycm@gmail.com">surveyorycm@gmail.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">19</td>
            <td style="width:129px;">Govinda Lamichane</td>
            <td>ALL</td>
            <td>Butwal</td>
            <td>9857030400</td>
            <td><a href="mailto:er.govi@yahoo.com">er.govi@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">20</td>
            <td style="width:129px;">Gopi Nath Kharel</td>
            <td>ALL</td>
            <td>Narayanghat</td>
            <td style="width:93px;">9855055924</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">21</td>
            <td style="width:129px;">Khem Raj Chataut</td>
            <td>ALL</td>
            <td>Mahendranagar</td>
            <td style="width:93px;">9848723786<br>
            099-521113</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">22</td>
            <td style="width:129px;">SK Majhi</td>
            <td>ALL</td>
            <td>Biratnagar</td>
            <td style="width:93px;">9852020556<br>
            021-537699</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">23</td>
            <td style="width:129px;">Deu Kaji Gurung</td>
            <td>ALL</td>
            <td>Pokhara</td>
            <td>9856023311</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">24</td>
            <td style="width:129px;">Pabitra Bikram Rana</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851046191<br>
            01-4212205</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">25</td>
            <td style="width:129px;">Suman Amatya</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9851086115</td>
            <td style="width:224px;"><a href="mailto:amatya.suman@yahoo.com">amatya.suman@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">26</td>
            <td style="width:129px;">Prakash Pokhrel</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9851056118</td>
            <td><a href="mailto:pokhrelp25@yahoo.com">pokhrelp25@yahoo.com</a></td>
          </tr>
          <tr height="35">
            <td align="right" height="35" style="height:35px;">27</td>
            <td style="width:129px;">Abinash Bhattarai</td>
            <td style="width:129px;">ELECTRONIC<br>
            ALL</td>
            <td>Kathmandu</td>
            <td>9843467423</td>
            <td><a href="mailto:abinash.abi@gmail.com">abinash.abi@gmail.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">28</td>
            <td style="width:129px;">Rakesh Jha</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9841499761</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">29</td>
            <td style="width:129px;">Manoj Koirala</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851091891<br>
            01-4650135</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">30</td>
            <td style="width:129px;">Ravi Kumar Mainali</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851110294</td>
            <td><a href="mailto:rmainali68@gmail.com">rmainali68@gmail.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">31</td>
            <td style="width:129px;">Batuk Man Malla</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851084400</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">32</td>
            <td style="width:129px;">Lokesh Raj Dali</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9818606045</td>
            <td><a href="mailto:lokeshdali@yahoo.com">lokeshdali@yahoo.com</a></td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">33</td>
            <td style="width:129px;">Niranjan Khakurel</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851198517</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">34</td>
            <td style="width:129px;">Chitra Bd Thapa</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841523789<br>
            9851053747</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">35</td>
            <td style="width:129px;">Adhistya Narayan Jha</td>
            <td>Motor</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841320316<br>
            9851056879</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="29">
            <td align="right" height="29" style="height:29px;">36</td>
            <td style="width:129px;">Suresh Yadav</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851240215</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="29">
            <td align="right" height="29" style="height:29px;">37</td>
            <td style="width:129px;">Pushpa Karki</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9851044640</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="30">
            <td align="right" height="30" style="height:30px;">38</td>
            <td style="width:129px;">Mohan P Dhakal</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9801155793</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">39</td>
            <td style="width:129px;">Rishi Ram Koirala</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851057094<br>
            01-2042214</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">40</td>
            <td style="width:129px;">Gajendra Kumar Jha</td>
            <td>MOTOR</td>
            <td style="width:79px;">Kathmandu</td>
            <td style="width:93px;">9851086115</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">41</td>
            <td style="width:129px;">Sanjay Kumar Yadav</td>
            <td>MOTOR</td>
            <td style="width:79px;">Kathmandu</td>
            <td style="width:93px;">9841595195</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">42</td>
            <td style="width:129px;">Bhawana Palikhe</td>
            <td>MOTOR</td>
            <td>Pokhara</td>
            <td style="width:93px;">9846029199<br>
            061-540791</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="30">
            <td align="right" height="30" style="height:30px;">43</td>
            <td style="width:129px;">Biseshwor Mahato</td>
            <td>MOTOR</td>
            <td>Biratnagar</td>
            <td>9852032112</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="29">
            <td align="right" height="29" style="height:29px;">44</td>
            <td style="width:129px;">Hari Narayan Das</td>
            <td>MOTOR</td>
            <td>Biratnagar</td>
            <td>9842159429</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="30">
            <td align="right" height="30" style="height:30px;">45</td>
            <td style="width:129px;">Prakash Bhakta Joshi</td>
            <td>ALL</td>
            <td>Biratnagar</td>
            <td style="width:93px;">9842050743</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="25">
            <td align="right" height="25" style="height:25px;">46</td>
            <td style="width:129px;">Mahesh Bhattarai</td>
            <td>MOTOR</td>
            <td>Dharan</td>
            <td>9852049494</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="28">
            <td align="right" height="28" style="height:28px;">47</td>
            <td style="width:129px;">Madan Lal Chaudhary</td>
            <td>ALL</td>
            <td>Biratnagar</td>
            <td>9852025523</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">48</td>
            <td style="width:129px;">Bijaya Jaiswal</td>
            <td>ALL</td>
            <td>Birgunj</td>
            <td style="width:93px;">9845027483<br>
            051-531408</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">49</td>
            <td style="width:129px;">Prakash Karna</td>
            <td>MOTOR</td>
            <td>Birgunj</td>
            <td style="width:93px;">9845042458<br>
            051-529470</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="31">
            <td align="right" height="31" style="height:31px;">50</td>
            <td style="width:129px;">Prabin Kumar Sah</td>
            <td>MOTOR</td>
            <td>Birgunj</td>
            <td style="width:93px;">9855032344</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="30">
            <td align="right" height="30" style="height:30px;">51</td>
            <td style="width:129px;">Hanuman Shrestha</td>
            <td>ALL</td>
            <td>Birgunj</td>
            <td>9855027042</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">52</td>
            <td style="width:129px;">Keshav Shrestha</td>
            <td>MOTOR</td>
            <td>Narayanghat</td>
            <td>9845045811</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="30">
            <td align="right" height="30" style="height:30px;">53</td>
            <td style="width:129px;">Birendra Prasad</td>
            <td>MOTOR</td>
            <td>Butwal</td>
            <td>9857025850</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="28">
            <td align="right" height="28" style="height:28px;">54</td>
            <td style="width:129px;">Rakesh Pandey</td>
            <td>MOTOR</td>
            <td>Bhairahawa</td>
            <td>9857035777</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">55</td>
            <td style="width:129px;">Naresh Swar</td>
            <td>MOTOR</td>
            <td>Nepalgunj</td>
            <td style="width:93px;">9848032020<br>
            9841342545</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="26">
            <td align="right" height="26" style="height:26px;">56</td>
            <td style="width:129px;">Hari Har Panta</td>
            <td>ALL</td>
            <td>Dhangadi</td>
            <td>9851126115</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="25">
            <td align="right" height="25" style="height:25px;">57</td>
            <td style="width:129px;">Madhav Panthi</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9851001152</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="31">
            <td align="right" height="31" style="height:31px;">58</td>
            <td style="width:129px;">Amar Chandra Niraula</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9843690800<br>
            9808069506</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="27">
            <td align="right" height="27" style="height:27px;">59</td>
            <td style="width:129px;">Gopal Prasad Sarraf</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td>9851179424</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">60</td>
            <td style="width:129px;">Prabin Subedee</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851043015<br>
            01-4228989</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="23">
            <td align="right" height="23" style="height:23px;">61</td>
            <td style="width:129px;">Krishna Prasad Paudel</td>
            <td>ALL</td>
            <td>Kathmandu</td>
            <td>9841428461</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="17">
            <td align="right" height="34" rowspan="2" style="height:34px;">62</td>
            <td rowspan="2" style="width:129px;">Prabesh Poudel</td>
            <td rowspan="2">Automobile</td>
            <td rowspan="2">Kathmandu</td>
            <td rowspan="2" style="width:93px;">9851106621<br>
            9801106621</td>
            <td rowspan="2">&nbsp;</td>
          </tr>
          <tr height="17">
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">63</td>
            <td style="width:129px;">Aditya Paudel</td>
            <td>Mechanical</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841372668<br>
            01-4487132</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="26">
            <td align="right" height="26" style="height:26px;">64</td>
            <td style="width:129px;">Manoj Kumar Jaiswal</td>
            <td>MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851142489</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">65</td>
            <td style="width:129px;">Bikash Bahadur Shrestha</td>
            <td style="width:129px;">ELECTRONIC<br>
            MEDICAL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851038698</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">66</td>
            <td style="width:129px;">Ganesh Prasad Mainali</td>
            <td style="width:129px;">CIVIL<br>
            MOTOR</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851208444<br>
            9841842076</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">67</td>
            <td style="width:129px;">Manish Lekhak</td>
            <td style="width:129px;">ELECTRONIC</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841806007</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="28">
            <td align="right" height="28" style="height:28px;">68</td>
            <td style="width:129px;">Abindra Baral</td>
            <td style="width:129px;">ELECTRONIC</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851135024</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">69</td>
            <td style="width:129px;">Bishnu Ram Khatri</td>
            <td style="width:129px;">MECHANICAL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9668176410</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="33">
            <td align="right" height="33" style="height:33px;">70</td>
            <td style="width:129px;">MK Daha</td>
            <td style="width:129px;">ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">01-4100089<br>
            01-4100090</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="32">
            <td align="right" height="32" style="height:32px;">71</td>
            <td style="width:129px;">Laxman Thapa</td>
            <td style="width:129px;">CIVIL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9855052127</td>
            <td><a href="mailto:laxmanthapa9954@gmail.com">laxmanthapa9954@gmail.com</a></td>
          </tr>
          <tr height="33">
            <td align="right" height="33" style="height:33px;">72</td>
            <td style="width:129px;">Jagannath Gautam</td>
            <td style="width:129px;">CIVIL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9851069786<br>
            01-5170615</td>
            <td><a href="mailto:jngautam.2010@gmail.com">jngautam.2010@gmail.com</a></td>
          </tr>
          <tr height="33">
            <td align="right" height="33" style="height:33px;">73</td>
            <td style="width:129px;">Sanjay Kr. Dudhani</td>
            <td style="width:129px;">ALL</td>
            <td>Kathmandu</td>
            <td style="width:93px;">9841297010<br>
            9802027010</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="28">
            <td align="right" height="28" style="height:28px;">74</td>
            <td style="width:129px;">Krishna Aryal</td>
            <td style="width:129px;">CIVIL</td>
            <td>Palpa</td>
            <td style="width:93px;">9841395738</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="25">
            <td align="right" height="25" style="height:25px;">75</td>
            <td style="width:129px;">Krishna Dev Sah</td>
            <td>MOTOR</td>
            <td>Birgunj</td>
            <td>9809249069</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="37">
            <td align="right" height="37" style="height:37px;">76</td>
            <td style="width:129px;">Roshan Kumar Shrestha</td>
            <td>MOTOR</td>
            <td>Birgunj</td>
            <td style="width:93px;">9855021126<br>
            051-534367</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">77</td>
            <td style="width:129px;">Sumit Kumar Chaudhary</td>
            <td>MECHANICAL</td>
            <td>Birgunj</td>
            <td style="width:93px;">9855035316</td>
            <td><a href="mailto:miner_sumit@yahoo.com">miner_sumit@yahoo.com</a></td>
          </tr>
          <tr height="26">
            <td align="right" height="26" style="height:26px;">78</td>
            <td style="width:129px;">Suman Thapa</td>
            <td>MOTOR</td>
            <td>Hetauda</td>
            <td>9841916883</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">79</td>
            <td style="width:129px;">Puran Subedi</td>
            <td>ALL</td>
            <td>Narayanghat</td>
            <td style="width:93px;">9851045350<br>
            9801045350</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="24">
            <td align="right" height="24" style="height:24px;">80</td>
            <td style="width:129px;">Kamal Prasad Koirala</td>
            <td>CIVIL</td>
            <td>Birtamode</td>
            <td>9852672684</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="27">
            <td align="right" height="27" style="height:27px;">81</td>
            <td style="width:129px;">Lalit Kumar Kayastha</td>
            <td>MOTOR</td>
            <td>Biratnagar</td>
            <td>9862134897</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="26">
            <td align="right" height="26" style="height:26px;">82</td>
            <td style="width:129px;">Buddhi Raj Adhikari</td>
            <td>CIVIL</td>
            <td>Pokhara</td>
            <td>9851040777</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">83</td>
            <td style="width:129px;">Bal Ram Pathak</td>
            <td>ALL</td>
            <td>Pokhara</td>
            <td style="width:93px;">9851234211<br>
            061-520581</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="24">
            <td align="right" height="24" style="height:24px;">84</td>
            <td style="width:129px;">Prashant GC</td>
            <td>ALL</td>
            <td>Dang</td>
            <td>9801332719</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">85</td>
            <td style="width:129px;">Mahesh Basnet</td>
            <td>ALL</td>
            <td>Nepalgunj</td>
            <td style="width:93px;">9844856001<br>
            9816905151</td>
            <td>&nbsp;</td>
          </tr>
          <tr height="17">
            <td align="right" height="34" rowspan="2" style="height:34px;">86</td>
            <td rowspan="2" style="width:129px;">Hiralal Rawat</td>
            <td rowspan="2">INDUSTRIAL</td>
            <td rowspan="2">Nepalgunj</td>
            <td rowspan="2" style="width:93px;">9841778736<br>
            9843931045</td>
            <td rowspan="2">&nbsp;</td>
          </tr>
          <tr height="17">
          </tr>
          <tr height="34">
            <td align="right" height="34" style="height:34px;">87</td>
            <td style="width:129px;">Sushil Kr. Shrestha</td>
            <td>CIVIL</td>
            <td>Nepalgunj</td>
            <td style="width:93px;">9860909084<br>
            9851240093</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock content %}